# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  # isort auto-sorts Python imports
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  # Black formats Python code
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  # Flake8 lints Python code
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        exclude: scripts/Controllers.py | scripts/Gamepad.py

  # MyPy does static type-checking in Python
  # Note: In practice this doesn't currently do much, since we don't have type hints in our Python scripts.
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.981
    hooks:
      - id: mypy
        args: [--install-types, --non-interactive, --no-strict-optional, --ignore-missing-imports]

  # Beautysh formats Bash scripts
  - repo: https://github.com/lovesegfault/beautysh
    rev: v6.2.1
    hooks:
      - id: beautysh

  # Mdformat formats Markdown files
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat
        exclude: \.github/.*  # Exclude files in the .github directory

  # Codespell checks the code for common misspellings
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
              .*\.svg
          )$

  # Prettier formats JS(X), TS(X), HTML, CSS, etc. files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [css, html, javascript, json, jsx, ts, tsx]

  # # ESLint lints Javascript/Typescript files
  # - repo: https://github.com/pre-commit/mirrors-eslint
  #   rev: 'v8.56.0'  # Use the sha / tag you want to point at
  #   hooks:
  #   -   id: eslint
  #       files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
  #       types: [file]
