
#action-mode-button {
    padding: var(--btn-padding);
    background-color: var(--btn-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}

#action-mode-button .material-icons {
    margin: -0.25rem;
}

#action-mode-popup {
    position: absolute;
    z-index: 3;
}

.action-mode-option {
    background-color: var(--btn-bg-color);
    padding: var(--btn-padding);
    border: var(--btn-brdr);
    cursor: pointer;
    width: 10rem;
}

.action-mode-option.active {
    background-color: var(--btn-bg-color-click);
}


.action-mode-option:first-of-type {
    border-radius: var(--btn-brdr-radius) var(--btn-brdr-radius) 0 0 ;
}

.action-mode-option:last-of-type {
    border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius) ;
}

.action-mode-option:hover {
    background-color: var(--btn-bg-color-hover);
}