#action-mode-button {
    background-color: var(--btn-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}

#action-mode-button.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Flip the dropdown arrow when active */
#action-mode-button span {
    transition: transform 0.2s linear;
}

#action-mode-button.expanded span{
    transform: scaleY(-1);
}

#action-mode-popup {
    position: absolute;
    z-index: 3;
}

.action-mode-option {
    background-color: var(--btn-bg-color);
    padding: var(--btn-padding);
    cursor: pointer;
    width: 10rem;
}

.action-mode-option.active {
    background-color: var(--btn-bg-color-click);
}


/* .action-mode-option:first-of-type {
    border-radius: var(--btn-brdr-radius) var(--btn-brdr-radius) 0 0 ;
} */

.action-mode-option:last-of-type {
    border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius) ;
}

.action-mode-option:hover {
    background-color: var(--btn-bg-color-hover);
}