#action-mode-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: var(--header-btn-width);
}

#action-mode-button.expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Flip the dropdown arrow when active */
#action-mode-button span {
    transition: transform 0.2s linear;
}

#action-mode-button.expanded span {
    transform: scaleY(-1);
}

#action-mode-popup {
    position: absolute;
    z-index: 3;
    box-shadow: var(--shadow);
    border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius);
}

.action-mode-option {
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    width: var(--header-btn-width);
    display: block;
    border-radius: 0;
}

.action-mode-option.active {
    filter: brightness(80%);
}

.action-mode-option:last-of-type {
    border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius) ;
}