/* Popup modal ****************************************************************/

.popup-modal {
  position: fixed;
  border-radius: var(--btn-brdr-radius);
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  z-index: 10;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  opacity: 100%;
  touch-action: manipulation;
}

.popup-modal.small {
  height: 15rem;
  width: 20rem;
  top: 10%;
}

.popup-modal.medium {
  height: 50rem;
  width: 47rem;
  top: -10%;
  /* height: 35%; */
}

.popup-modal.large {
  height: 50%;
}

.mobile {
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-around;
  /* font-size: 50px !important; */
}

.voice-commands-popup-modal {
  position: fixed;
  border-radius: var(--btn-brdr-radius);
  background-color: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  z-index: 4;
  height: 45rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  opacity: 100%;
}

.voice-commands-popup-modal #close-modal {
  padding-left: 80%;
}

.voice-commands-popup-modal #commands {
  padding-right: 20%;
}

.popup-modal-bottom-buttons {
  width: 100%;
}

.popup-modal-bottom-buttons button {
  width: 45%;
  padding: 0.5em;
  color: black;
}

/* Dark background behind popup */
#popup-background,
.loader-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 60%;
  z-index: 3;
}

.popup-modal label {
  font-size: 30px;
}

.popup-modal input {
  width: 100%;
  padding: 0.5em;
}

/* Dropdown *******************************************************************/

.dropdown {
  position: relative;
}

.dropdown-button,
.dropdown-input-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: relative;
  color: black;
}

.dropdown-button.expanded.bottom,
.dropdown-input-button.expanded.bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: black;
}

.dropdown-button.expanded.top,
.dropdown-input-button.expanded.top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 !important;
  color: black;
}

/* Flip the dropdown arrow when active */
.dropdown-button span,
.dropdown-input-button span {
  transition: transform 0.2s linear;
}

.dropdown-button.expanded span,
.dropdown-input-button.expanded span {
  transform: scaleY(-1);
}

.dropdown-popup,
.dropdown-input-popup {
  position: absolute;
  min-width: 100%;
  z-index: 3;
  box-shadow: var(--shadow);
  border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius);
  top: 100%;
  bottom: auto;
  overflow-y: auto; /* Make it scrollable */
}

.dropdown-popup.top,
.dropdown-input-popup.top {
  top: auto;
  bottom: 100%;
  box-shadow: var(--shadow-bottom);
}

.dropdown-option,
.dropdown-input-option {
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 0;
  text-align: left;
  margin: 0 !important;
  color: black;
}

.dropdown-option.active,
.dropdown-input-option.active {
  filter: brightness(80%);
}

.dropdown-popup.top .dropdown-option:first-of-type,
.dropdown-input-popup.top .dropdown-option:first-of-type {
  border-radius: var(--btn-brdr-radius) var(--btn-brdr-radius) 0 0;
}

.dropdown-popup.top .dropdown-option:last-of-type,
.dropdown-input-popup.top .dropdown-option:last-of-type {
  box-shadow: none;
}

.dropdown-popup.bottom .dropdown-option:last-of-type,
.dropdown-input-popup.bottom .dropdown-option:last-of-type {
  border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius);
}

/* Dropdown Input **************************************************************/

.dropdown-input {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.dropdown-input:focus-within {
  border: 1px solid black;
  border-radius: 0 var(--btn-brdr-radius) var(--btn-brdr-radius) 0;
}

.dropdown-input-textarea {
  border-right-width: 0px !important;
  resize: none;
  border-radius: var(--btn-brdr-radius) 0 0 var(--btn-brdr-radius);
  box-shadow: var(--shadow);
  border: none;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.dropdown-input-textarea:focus {
  border-radius: var(--btn-brdr-radius) 0 0 var(--btn-brdr-radius);
  outline: none;
}

.dropdown-input-button {
  width: auto !important;
  padding-top: 0rem;
  padding-bottom: 0rem;
  box-shadow: none;
  border-radius: 0 var(--btn-brdr-radius) var(--btn-brdr-radius) 0;
  box-shadow: var(--shadow);
  /* border: 1px solid light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
  border-left-width: 0px !important;
}

/* CheckToggleButton **********************************************************/

.check-toggle-button {
  display: flex;
  justify-content: center;
  color: black;
}

.check-toggle-button span.material-icons {
  margin-right: 1rem;
}

.check-toggle-button,
.check-toggle-button-mobile {
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
}

.check-toggle-button-mobile {
  border: 5px solid whitesmoke;
  /* margin: 1rem; */
}

.pose-name {
  /* padding-top: 5%; */
  align-self: normal;
}

.pose-name label {
  padding-right: 2.5rem;
}

.pose-name input {
  width: 65%;
}

.mobile-pose-name input {
  width: 100%;
}

ul.checkbox {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

ul.checkbox li {
  border: 0.5rem transparent solid;
}

hr {
  width: 100%;
}

button .material-icons {
  margin: 0 !important;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
  margin-right: 1rem;
}

@media screen and (max-device-width: 700px) {
  input[type="checkbox"] {
    margin-right: 3rem;
    transform: scale(2);
  }

  .popup-modal label {
    font-size: 50px;
  }
}

/* AccordionSelect **********************************************************/

/* Style the accordion section */
.accordion_section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  /* background-color: #eee; */
  /* color: #444; */
  cursor: pointer;
  /* padding: 18px; */
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

/* Style the accordion content title */
.accordion_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Style the accordion content panel. Note: hidden by default */
.accordion_content {
  background-color: var(--btn-gray);
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Flip the dropdown arrow when active */
.accordion span {
  transition: transform 0.2s linear;
}

.accordion.active span {
  transform: scaleY(-1);
}

.accordion-item {
  padding: 0.75rem 0rem 0.75rem 0rem;
  text-align: center;
}

.accordion-item:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
}
