/* Stand-alone button pad *****************************************************/

.button-pads {
    /* Shared style */
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;

    /* Style for standalone version (not overlay */
    fill-opacity: 100%;
    stroke-width: 6px;
    stroke: var(--background-color);
    fill: hsl(0, 0%, 31%);
    flex: 1 1 0;
    padding: 0.4rem;
    max-height: 100%;
    /* max-width: fit-content; */
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button-pads svg {
    height: 100%;
    width: 100%;
}

/* Overlay ********************************************************************/

.button-pads.overlay {
    stroke-width: 3px;
    fill: hsl(200, 50%, 60%);
    fill-opacity: 0;
    stroke: hsl(200, 0%, 60%);

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Settings for the buttons on the button pad *********************************/

/*When hovering over a child element of an svg*/
.button-pads path:hover {
    fill-opacity: 30%;
}

@media (hover: none) {
    .button-pads path.inactive:hover+image {
        filter: none !important;
    }
}

.button-pads image {
    pointer-events: none;
}

/* Button pad <image> gets saturated while hovering */
.button-pads path.inactive:hover+image {
    filter: brightness(50%) sepia(100%) saturate(10000%) hue-rotate(194deg);
}

.button-pads path.active {
    fill-opacity: 60%;
    fill: var(--btn-turquoise);
}

.button-pads path.collision {
    fill: orange;
    fill-opacity: 40%;
}

.button-pads path.limit {
    fill: red;
    fill-opacity: 40%;
}

/* When buttons are disabled... */
.button-pads path.collision,
.button-pads path.disable {
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.button-pads path.disable.active,
.button-pads path.disable.inactive,
.button-pads path.disable.collision,
.button-pads path.disable.limit {
    fill: #efeff0;
    fill-opacity: 100%;
}

.button-pads path.disable:hover+image {
    filter: none !important;
}

/* Disable hover actions */
.button-pads.customizing path {
    pointer-events: none;
}

.button-pads.selected {
    opacity: 100%;
    stroke: var(--selected-color);
    opacity: 100%;
    border: 1px solid var(--selected-color);
    stroke-width: 5px;
}

.button-pad {
    font-size: x-large;
    flex: 1 1 0;
    display: grid;
    text-align: center;
    max-height: 100%;
    justify-items: center;
}

@media (max-width: 1300px) {
    .title {
        font-size: smaller;
        margin: 0.5rem;
    }
}

@media screen and (orientation: portrait) {
    .button-pad {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .button-pads {
        filter: drop-shadow(6px 7px 2px rgb(0 0 0 / 0.4));
    }
}

/**********************************
 * CSS below only targets _XP
 **********************************/

/* START Buttonpad */
.dbutton-pad_XP {
    --size: 120px;
    --size-icon: calc(var(--size) * 0.18);
    position: relative;
    left: calc(var(--size) * 0.5);
    bottom: calc(var(--size) * .25);
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
}

/* END Buttonpad */

.button-wrapper_XP button {
    width: var(--size) !important;
    height: var(--size) !important;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
    transform-origin: 0 0;
    mix-blend-mode: soft-light;
    border-color: hsl(0deg 0% 100% / 50%);
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0.5px;
    border-left-width: 0.5px;
    border-style: solid;
    transition-property: border-color, background-color, background-image, background-size, background-position, box-shadow, backdrop-filter;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    rotate: -45deg;
    box-shadow: none;
    /* START Create a quarter-circle shape for each button */
    border-radius: 0 0 var(--size) 0;
    /* END Create a quarter-circle shape for each button */
    /* START Clip rules */
    background-size: cover;
    -webkit-clip-path: url(#clip-path_XP);
    clip-path: url(#clip-path_XP);
    /* END Clip rules */
    touch-action: none;
}

.button-wrapper_XP {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: visible;
}

/* Position each button by rotating it around the center */
.button-wrapper_XP.east button {
    transform: rotate(0deg);
}

.button-wrapper_XP.south button {
    transform: rotate(90deg);
}

.button-wrapper_XP.west button {
    transform: rotate(180deg);
}

.button-wrapper_XP.north button {
    transform: rotate(270deg);
}

/* START <button> hover */
.button-wrapper_XP button:hover,
.button-wrapper_XP button:hover span.synthetic-bottom-border_XP {
    z-index: 1;
    border-color: hsl(333deg 100% 90% / 70%);
    background-color: hsl(333deg 100% 90% / 20%);
    border-top-width: 1px;
    border-left-width: 1px;
    mix-blend-mode: normal;
}

/* END <button> hover */

/* START <button> active */
.button-wrapper_XP button:active,
.button-wrapper_XP button:active span.synthetic-bottom-border_XP {
    border-color: hsl(333deg 100% 90% / 70%);
    border-top-width: 1px;
    border-left-width: 1px;
    background-color: hsl(333deg 100% 90% / 50%);
    /* START dot grid effect */
    background-image: radial-gradient(hsl(333deg 90% 90% / 100%) 1px, transparent 0);
    background-size: 3px 3px;
    background-position: -2px -2px;
    /* END dot grid effect */
}

.button-wrapper_XP button:active {
    mix-blend-mode: color-dodge;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px hsl(333deg 70% 60% / 50%);
}

/* END <button> active */

.button-wrapper_XP button span.synthetic-bottom-border_XP {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    border-radius: 0 0 var(--size) 0;
    border-color: hsl(0deg 0% 100% / 50%);
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
}

/* START Clip stuff */
.mask_XP {
    position: absolute;
    width: 0;
    height: 0;
}

/* END Clip stuff */

/* START Chevron icon */

.button-wrapper_XP .chevron-wrapper_XP {
    display: inline-block;
    width: 0px;
    height: 0px;
    overflow: visible;
}

.button-wrapper_XP .chevron-wrapper_XP .chevron_XP {
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
    /* border-right: 5px solid #ffffff; */
    /* border-bottom: 5px solid #ffffff; */
    height: var(--size-icon);
    width: var(--size-icon);
    filter: saturate(0) brightness(3);
    transition: filter 300ms ease-out;
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-outside-1_468_2830" maskUnits="userSpaceOnUse" x="0.799805" y="4" width="17" height="11" fill="black"><rect fill="white" x="0.799805" y="4" width="17" height="11"/><path d="M14.2163 5.18607C14.4644 4.93798 14.8666 4.93798 15.1147 5.18607L16.0132 6.08451C16.2612 6.33261 16.2612 6.73488 16.0132 6.98294L9.49948 13.4956C9.36233 13.6328 9.17877 13.6908 8.99948 13.6763C8.82022 13.6908 8.63662 13.6328 8.49948 13.4956L1.98581 6.98294C1.73776 6.73489 1.73784 6.33261 1.98581 6.08451L2.88425 5.18607C3.13234 4.93798 3.53459 4.93798 3.78269 5.18607L8.99948 10.4019L14.2163 5.18607Z"/></mask><path d="M14.2163 5.18607C14.4644 4.93798 14.8666 4.93798 15.1147 5.18607L16.0132 6.08451C16.2612 6.33261 16.2612 6.73488 16.0132 6.98294L9.49948 13.4956C9.36233 13.6328 9.17877 13.6908 8.99948 13.6763C8.82022 13.6908 8.63662 13.6328 8.49948 13.4956L1.98581 6.98294C1.73776 6.73489 1.73784 6.33261 1.98581 6.08451L2.88425 5.18607C3.13234 4.93798 3.53459 4.93798 3.78269 5.18607L8.99948 10.4019L14.2163 5.18607Z" fill="%23FF338F"/><path d="M14.2163 5.18607L14.9233 5.89324L14.9234 5.89318L14.2163 5.18607ZM15.1147 5.18607L14.4076 5.89318L15.1147 5.18607ZM16.0132 6.08451L16.7204 5.37753L16.7203 5.3774L16.0132 6.08451ZM16.0132 6.98294L16.7202 7.6901L16.7203 7.69005L16.0132 6.98294ZM9.49948 13.4956L8.79243 12.7885L8.7924 12.7885L9.49948 13.4956ZM8.99948 13.6763L9.08007 12.6796L8.99955 12.673L8.91903 12.6795L8.99948 13.6763ZM8.49948 13.4956L9.20659 12.7885L9.20654 12.7885L8.49948 13.4956ZM1.98581 6.98294L1.2787 7.69005L1.27876 7.6901L1.98581 6.98294ZM1.98581 6.08451L1.2787 5.3774L1.27851 5.37759L1.98581 6.08451ZM3.78269 5.18607L3.07558 5.89318L3.07565 5.89324L3.78269 5.18607ZM8.99948 10.4019L8.29244 11.1091L8.99948 11.816L9.70652 11.1091L8.99948 10.4019ZM14.2163 5.18607L14.9234 5.89318C14.781 6.03561 14.55 6.03561 14.4076 5.89318L15.1147 5.18607L15.8218 4.47896C15.1832 3.84035 14.1478 3.84035 13.5092 4.47896L14.2163 5.18607ZM15.1147 5.18607L14.4076 5.89318L15.306 6.79161L16.0132 6.08451L16.7203 5.3774L15.8218 4.47896L15.1147 5.18607ZM16.0132 6.08451L15.3059 6.79149C15.1637 6.64922 15.1635 6.41842 15.306 6.27584L16.0132 6.98294L16.7203 7.69005C17.359 7.05134 17.3586 6.01599 16.7204 5.37753L16.0132 6.08451ZM16.0132 6.98294L15.3061 6.27578L8.79243 12.7885L9.49948 13.4956L10.2065 14.2028L16.7202 7.6901L16.0132 6.98294ZM9.49948 13.4956L8.7924 12.7885C8.87938 12.7015 8.99149 12.6724 9.08007 12.6796L8.99948 13.6763L8.9189 14.6731C9.36604 14.7092 9.84528 14.564 10.2066 14.2028L9.49948 13.4956ZM8.99948 13.6763L8.91903 12.6795C9.00742 12.6724 9.11951 12.7014 9.20659 12.7885L8.49948 13.4956L7.79238 14.2027C8.15373 14.5641 8.63302 14.7091 9.07994 14.6731L8.99948 13.6763ZM8.49948 13.4956L9.20654 12.7885L2.69287 6.27578L1.98581 6.98294L1.27876 7.6901L7.79243 14.2028L8.49948 13.4956ZM1.98581 6.98294L2.69292 6.27584C2.83558 6.4185 2.83522 6.64923 2.69311 6.79142L1.98581 6.08451L1.27851 5.37759C0.640467 6.01598 0.639939 7.05129 1.2787 7.69005L1.98581 6.98294ZM1.98581 6.08451L2.69292 6.79161L3.59136 5.89318L2.88425 5.18607L2.17714 4.47896L1.2787 5.3774L1.98581 6.08451ZM2.88425 5.18607L3.59136 5.89318C3.44892 6.03561 3.21801 6.03561 3.07558 5.89318L3.78269 5.18607L4.48979 4.47896C3.85118 3.84035 2.81576 3.84035 2.17714 4.47896L2.88425 5.18607ZM3.78269 5.18607L3.07565 5.89324L8.29244 11.1091L8.99948 10.4019L9.70652 9.69472L4.48973 4.4789L3.78269 5.18607ZM8.99948 10.4019L9.70652 11.1091L14.9233 5.89324L14.2163 5.18607L13.5092 4.4789L8.29244 9.69472L8.99948 10.4019Z" fill="black" fill-opacity="0.2" mask="url(%23path-1-outside-1_468_2830)"/></svg>');
    background-repeat: no-repeat;
    background-position: center center;
}

.button-wrapper_XP:active .chevron-wrapper_XP .chevron_XP {
    filter: saturate(1) brightness(1);
}

.button-wrapper_XP.east .chevron-wrapper_XP .chevron_XP {
    top: calc(var(--size-icon) * -1);
    left: calc(var(--size) * 0.9 - var(--size-icon));
    rotate: -90deg;
}

.button-wrapper_XP.south .chevron-wrapper_XP .chevron_XP {
    top: calc(var(--size) * 0.75);
    left: 0px;
    rotate: 0deg;
}

.button-wrapper_XP.west .chevron-wrapper_XP .chevron_XP {
    top: 0px;
    left: calc(var(--size) * -0.9);
    rotate: 90deg;
}

.button-wrapper_XP.north .chevron-wrapper_XP .chevron_XP {
    top: calc(var(--size) * -0.9);
    left: calc(var(--size-icon) * -1);
    rotate: -180deg;
}

/* END Chevron_XP icon */

/* START Button turn */
.button-turn {
    position: absolute;
    top: 50%;
    margin: -138px 0 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
    cursor: pointer;
    mix-blend-mode: overlay;
}

.button-turn:active {
    mix-blend-mode: normal;
}

.button-turn.left {
    left: 10px;
}

.button-turn.right {
    right: 10px;
}

/* END */