/* Stand-alone button pad *****************************************************/

.button-pads {
  /* Shared style */
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;

  /* Style for standalone version (not overlay */
  fill-opacity: 100%;
  stroke-width: 6px;
  stroke: var(--background-color);
  fill: hsl(0, 0%, 31%);
  flex: 1 1 0;
  padding: 0.4rem;
  max-height: 100%;
  /* max-width: fit-content; */
  touch-action: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button-pads svg {
  height: 100%;
  width: 100%;
}

/* Overlay ********************************************************************/

.button-pads.overlay {
  stroke-width: 3px;
  fill: hsl(200, 50%, 60%);
  fill-opacity: 0;
  stroke: hsl(200, 0%, 60%);

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Settings for the buttons on the button pad *********************************/

/*When hovering over a child element of an svg*/
.button-pads path:hover {
  fill-opacity: 30%;
}

@media (hover: none) {
  .button-pads path.inactive:hover+image {
    filter: none !important;
  }
}

.button-pads image {
  pointer-events: none;
}

/* Button pad <image> gets saturated while hovering */
.button-pads path.inactive:hover+image {
  filter: brightness(50%) sepia(100%) saturate(10000%) hue-rotate(194deg);
}

.button-pads path.active {
  fill-opacity: 60%;
  fill: var(--btn-turquoise);
}

.button-pads path.collision {
  fill: orange;
  fill-opacity: 40%;
}

.button-pads path.limit {
  fill: red;
  fill-opacity: 40%;
}

/* When buttons are disabled... */
.button-pads path.collision,
.button-pads path.disable {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.button-pads path.disable.active,
.button-pads path.disable.inactive,
.button-pads path.disable.collision,
.button-pads path.disable.limit {
  fill: #efeff0;
  fill-opacity: 100%;
}

.button-pads path.disable:hover+image {
  filter: none !important;
}

/* Disable hover actions */
.button-pads.customizing path {
  pointer-events: none;
}

.button-pads.selected {
  opacity: 100%;
  stroke: var(--selected-color);
  opacity: 100%;
  border: 1px solid var(--selected-color);
  stroke-width: 5px;
}

.button-pad {
  font-size: x-large;
  flex: 1 1 0;
  display: grid;
  text-align: center;
  max-height: 100%;
  justify-items: center;
}

@media (max-width: 1300px) {
  .title {
    font-size: smaller;
    margin: 0.5rem;
  }
}

@media screen and (orientation: portrait) {
  .button-pad {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .button-pads {
    filter: drop-shadow(6px 7px 2px rgb(0 0 0 / 0.4));
  }
}

/**********************************
* CSS below only targets _XP
**********************************/
.base-movement-controls_XP {
  --width-turn-button: 68px;
  --height-turn-button: 72px;
}

.base-movement-controls_XP .dbutton-pad_XP {
  --size: 120px;
  --size-icon: calc(var(--size) * 0.18);
  position: relative;
  left: calc(var(--size) * 0.5);
  bottom: 0px;
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
}

.button-wrapper_XP button {
  width: var(--size) !important;
  height: var(--size) !important;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  transform-origin: 0 0;
  mix-blend-mode: soft-light;
  border-color: hsl(0deg 0% 100% / 33%);
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0.5px;
  border-left-width: 0.5px;
  border-style: solid;
  transition-property: border-color, background-color, background-image, background-size, background-position, box-shadow, backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  rotate: -45deg;
  box-shadow: none;
  /* START Create a quarter-circle shape for each button */
  border-radius: 0 0 var(--size) 0;
  /* END Create a quarter-circle shape for each button */
  /* START Clip rules */
  background-size: cover;
  -webkit-clip-path: url(#clip-path_XP);
  clip-path: url(#clip-path_XP);
  /* END Clip rules */
  touch-action: none;
}

.button-wrapper_XP {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: visible;
}

/* Position each button by rotating it around the center */
.button-wrapper_XP.east button {
  transform: rotate(0deg);
}

.button-wrapper_XP.south button {
  transform: rotate(90deg);
}

.button-wrapper_XP.west button {
  transform: rotate(180deg);
}

.button-wrapper_XP.north button {
  transform: rotate(270deg);
}

/* START <button> hover */
/* :hover styles only applied to desktop devices with a "fine" pointer */
@media (hover: hover) and (pointer: fine) {

  .button-wrapper_XP button:hover,
  .button-wrapper_XP button:hover span.synthetic-bottom-border_XP {
    z-index: 1;
    border-color: hsl(333deg 100% 90% / 70%);
    background-color: hsl(333deg 100% 90% / 20%);
    border-top-width: 1px;
    border-left-width: 1px;
    mix-blend-mode: normal;
  }
}

/* END <button> hover */

/* START <button> active */
.button-wrapper_XP button:active,
.button-wrapper_XP button:active span.synthetic-bottom-border_XP {
  border-color: hsl(333deg 100% 90% / 50%);
  border-top-width: 1px;
  border-left-width: 1px;
}

.button-wrapper_XP button:active {
  mix-blend-mode: color-dodge;
  box-shadow: 0px 0px 10px 0px hsl(333deg 70% 60% / 100%);
}

/* END <button> active */

.button-wrapper_XP button span.synthetic-bottom-border_XP {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);
  border-radius: 0 0 var(--size) 0;
  border-color: hsl(0deg 0% 100% / 50%);
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
}

/* START Clip stuff */
.mask_XP {
  position: absolute;
  width: 0;
  height: 0;
}

/* END Clip stuff */

/* START Chevron icon */

.button-wrapper_XP .chevron-wrapper_XP {
  display: inline-block;
  width: 0px;
  height: 0px;
  overflow: hidden;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  /* For Safari */
  -webkit-touch-callout: none;
  /* Disable long-press callout */
}

.button-wrapper_XP .chevron-wrapper_XP .chevron_XP {
  position: absolute;
  transform: translate(-50%, -50%);
  display: inline-block;
  height: var(--size-icon);
  width: var(--size-icon);
  filter: saturate(0) brightness(3);
  transition: filter 300ms ease-out;
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="path-1-outside-1_468_2830" maskUnits="userSpaceOnUse" x="0.799805" y="4" width="17" height="11" fill="black"><rect fill="white" x="0.799805" y="4" width="17" height="11"/><path d="M14.2163 5.18607C14.4644 4.93798 14.8666 4.93798 15.1147 5.18607L16.0132 6.08451C16.2612 6.33261 16.2612 6.73488 16.0132 6.98294L9.49948 13.4956C9.36233 13.6328 9.17877 13.6908 8.99948 13.6763C8.82022 13.6908 8.63662 13.6328 8.49948 13.4956L1.98581 6.98294C1.73776 6.73489 1.73784 6.33261 1.98581 6.08451L2.88425 5.18607C3.13234 4.93798 3.53459 4.93798 3.78269 5.18607L8.99948 10.4019L14.2163 5.18607Z"/></mask><path d="M14.2163 5.18607C14.4644 4.93798 14.8666 4.93798 15.1147 5.18607L16.0132 6.08451C16.2612 6.33261 16.2612 6.73488 16.0132 6.98294L9.49948 13.4956C9.36233 13.6328 9.17877 13.6908 8.99948 13.6763C8.82022 13.6908 8.63662 13.6328 8.49948 13.4956L1.98581 6.98294C1.73776 6.73489 1.73784 6.33261 1.98581 6.08451L2.88425 5.18607C3.13234 4.93798 3.53459 4.93798 3.78269 5.18607L8.99948 10.4019L14.2163 5.18607Z" fill="%23FF338F"/><path d="M14.2163 5.18607L14.9233 5.89324L14.9234 5.89318L14.2163 5.18607ZM15.1147 5.18607L14.4076 5.89318L15.1147 5.18607ZM16.0132 6.08451L16.7204 5.37753L16.7203 5.3774L16.0132 6.08451ZM16.0132 6.98294L16.7202 7.6901L16.7203 7.69005L16.0132 6.98294ZM9.49948 13.4956L8.79243 12.7885L8.7924 12.7885L9.49948 13.4956ZM8.99948 13.6763L9.08007 12.6796L8.99955 12.673L8.91903 12.6795L8.99948 13.6763ZM8.49948 13.4956L9.20659 12.7885L9.20654 12.7885L8.49948 13.4956ZM1.98581 6.98294L1.2787 7.69005L1.27876 7.6901L1.98581 6.98294ZM1.98581 6.08451L1.2787 5.3774L1.27851 5.37759L1.98581 6.08451ZM3.78269 5.18607L3.07558 5.89318L3.07565 5.89324L3.78269 5.18607ZM8.99948 10.4019L8.29244 11.1091L8.99948 11.816L9.70652 11.1091L8.99948 10.4019ZM14.2163 5.18607L14.9234 5.89318C14.781 6.03561 14.55 6.03561 14.4076 5.89318L15.1147 5.18607L15.8218 4.47896C15.1832 3.84035 14.1478 3.84035 13.5092 4.47896L14.2163 5.18607ZM15.1147 5.18607L14.4076 5.89318L15.306 6.79161L16.0132 6.08451L16.7203 5.3774L15.8218 4.47896L15.1147 5.18607ZM16.0132 6.08451L15.3059 6.79149C15.1637 6.64922 15.1635 6.41842 15.306 6.27584L16.0132 6.98294L16.7203 7.69005C17.359 7.05134 17.3586 6.01599 16.7204 5.37753L16.0132 6.08451ZM16.0132 6.98294L15.3061 6.27578L8.79243 12.7885L9.49948 13.4956L10.2065 14.2028L16.7202 7.6901L16.0132 6.98294ZM9.49948 13.4956L8.7924 12.7885C8.87938 12.7015 8.99149 12.6724 9.08007 12.6796L8.99948 13.6763L8.9189 14.6731C9.36604 14.7092 9.84528 14.564 10.2066 14.2028L9.49948 13.4956ZM8.99948 13.6763L8.91903 12.6795C9.00742 12.6724 9.11951 12.7014 9.20659 12.7885L8.49948 13.4956L7.79238 14.2027C8.15373 14.5641 8.63302 14.7091 9.07994 14.6731L8.99948 13.6763ZM8.49948 13.4956L9.20654 12.7885L2.69287 6.27578L1.98581 6.98294L1.27876 7.6901L7.79243 14.2028L8.49948 13.4956ZM1.98581 6.98294L2.69292 6.27584C2.83558 6.4185 2.83522 6.64923 2.69311 6.79142L1.98581 6.08451L1.27851 5.37759C0.640467 6.01598 0.639939 7.05129 1.2787 7.69005L1.98581 6.98294ZM1.98581 6.08451L2.69292 6.79161L3.59136 5.89318L2.88425 5.18607L2.17714 4.47896L1.2787 5.3774L1.98581 6.08451ZM2.88425 5.18607L3.59136 5.89318C3.44892 6.03561 3.21801 6.03561 3.07558 5.89318L3.78269 5.18607L4.48979 4.47896C3.85118 3.84035 2.81576 3.84035 2.17714 4.47896L2.88425 5.18607ZM3.78269 5.18607L3.07565 5.89324L8.29244 11.1091L8.99948 10.4019L9.70652 9.69472L4.48973 4.4789L3.78269 5.18607ZM8.99948 10.4019L9.70652 11.1091L14.9233 5.89324L14.2163 5.18607L13.5092 4.4789L8.29244 9.69472L8.99948 10.4019Z" fill="black" fill-opacity="0.2" mask="url(%23path-1-outside-1_468_2830)"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}

.button-wrapper_XP:active .chevron-wrapper_XP .chevron_XP {
  filter: saturate(1) brightness(1);
}

.button-wrapper_XP.east .chevron-wrapper_XP .chevron_XP {
  top: calc(var(--size-icon) * -1);
  left: calc(var(--size) * 0.9 - var(--size-icon));
  rotate: -90deg;
}

.button-wrapper_XP.south .chevron-wrapper_XP .chevron_XP {
  top: calc(var(--size) * 0.75);
  left: 0px;
  rotate: 0deg;
}

.button-wrapper_XP.west .chevron-wrapper_XP .chevron_XP {
  top: 0px;
  left: calc(var(--size) * -0.9);
  rotate: 90deg;
}

.button-wrapper_XP.north .chevron-wrapper_XP .chevron_XP {
  top: calc(var(--size) * -0.9);
  left: calc(var(--size-icon) * -1);
  rotate: -180deg;
}

/* END Chevron_XP icon */

/* START Button turn */
.base-movement-controls_XP .button-turn {
  position: absolute;
  top: calc(50% + (var(--height-turn-button) / 2));
  margin: -138px 0 0;
  width: var(--width-turn-button);
  height: var(--height-turn-button);
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0px;
  padding: 0px;
  box-shadow: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-turn:active {
  mix-blend-mode: normal;
}

.button-turn.left {
  left: 10px;
  background-image: url('data:image/svg+xml,<svg width="67" height="72" viewBox="0 0 67 72" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_459_1858)"><foreignObject x="12.5698" y="15.418" width="25.5801" height="43.4336"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(1px);clip-path:url(%23bgblur_1_459_1858_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="2"><mask id="path-1-outside-1_459_1858" maskUnits="userSpaceOnUse" x="2.36391" y="12.3698" width="52.6273" height="53.2934" fill="black"><rect fill="white" x="2.36391" y="12.3698" width="52.6273" height="53.2934"/><path d="M21.2803 25.5621C20.05 26.9284 19.0581 28.4272 18.3046 30.0578C17.5512 31.6884 17.0415 33.3738 16.7759 35.1138C16.5103 36.8538 16.5015 38.6141 16.7491 40.3947C16.9967 42.1752 17.5111 43.9033 18.2931 45.5787C18.8799 46.8401 19.5864 47.9795 20.4112 48.997C21.2359 50.0145 22.1644 50.9883 23.1967 51.9177L18.971 52.1537L19.1064 54.7501L29.7354 54.2006L28.7404 53.3047L24.946 49.975L24.3843 49.4692C23.3116 48.5034 22.4025 47.437 21.6568 46.2709C20.911 45.1046 20.3399 43.8752 19.9444 42.5845C19.549 41.2939 19.3063 39.9759 19.2165 38.6307C19.1267 37.2855 19.2257 35.9545 19.5134 34.6377C19.8012 33.3209 20.2498 32.0386 20.8594 30.7917C21.4691 29.5447 22.2578 28.3848 23.2238 27.312C24.1896 26.2394 25.2552 25.3296 26.4213 24.5839C27.5876 23.8381 28.8164 23.2677 30.1071 22.8722C31.3977 22.4768 32.7157 22.2342 34.0609 22.1443L33.9392 19.5328C32.3723 19.6245 30.8388 19.9022 29.3396 20.3664C27.8404 20.8307 26.4042 21.4991 25.0324 22.3713C23.6607 23.2435 22.4101 24.3073 21.2803 25.5621Z"/></mask><path d="M21.2803 25.5621C20.05 26.9284 19.0581 28.4272 18.3046 30.0578C17.5512 31.6884 17.0415 33.3738 16.7759 35.1138C16.5103 36.8538 16.5015 38.6141 16.7491 40.3947C16.9967 42.1752 17.5111 43.9033 18.2931 45.5787C18.8799 46.8401 19.5864 47.9795 20.4112 48.997C21.2359 50.0145 22.1644 50.9883 23.1967 51.9177L18.971 52.1537L19.1064 54.7501L29.7354 54.2006L28.7404 53.3047L24.946 49.975L24.3843 49.4692C23.3116 48.5034 22.4025 47.437 21.6568 46.2709C20.911 45.1046 20.3399 43.8752 19.9444 42.5845C19.549 41.2939 19.3063 39.9759 19.2165 38.6307C19.1267 37.2855 19.2257 35.9545 19.5134 34.6377C19.8012 33.3209 20.2498 32.0386 20.8594 30.7917C21.4691 29.5447 22.2578 28.3848 23.2238 27.312C24.1896 26.2394 25.2552 25.3296 26.4213 24.5839C27.5876 23.8381 28.8164 23.2677 30.1071 22.8722C31.3977 22.4768 32.7157 22.2342 34.0609 22.1443L33.9392 19.5328C32.3723 19.6245 30.8388 19.9022 29.3396 20.3664C27.8404 20.8307 26.4042 21.4991 25.0324 22.3713C23.6607 23.2435 22.4101 24.3073 21.2803 25.5621Z" fill="white" fill-opacity="0.95"/><path d="M21.2803 25.5621L19.794 24.2238L19.794 24.2238L21.2803 25.5621ZM18.3046 30.0578L16.4891 29.2188L16.4891 29.2188L18.3046 30.0578ZM16.7759 35.1138L14.7988 34.812L14.7988 34.812L16.7759 35.1138ZM16.7491 40.3947L14.7682 40.6701L14.7682 40.6701L16.7491 40.3947ZM18.2931 45.5787L20.1054 44.7327L20.1065 44.7351L18.2931 45.5787ZM20.4112 48.997L18.8575 50.2564L18.8575 50.2564L20.4112 48.997ZM23.1967 51.9177L24.535 50.4315L28.1059 53.6467L23.3082 53.9146L23.1967 51.9177ZM18.971 52.1537L16.9737 52.2579L16.8699 50.2679L18.8595 50.1568L18.971 52.1537ZM19.1064 54.7501L19.2096 56.7474L17.2132 56.8506L17.1091 54.8542L19.1064 54.7501ZM29.7354 54.2006L31.0736 52.7143L34.6655 55.9484L29.8386 56.198L29.7354 54.2006ZM28.7404 53.3047L30.0596 51.8015L30.0692 51.8099L30.0787 51.8185L28.7404 53.3047ZM24.946 49.975L23.6268 51.4782L23.6172 51.4698L23.6077 51.4613L24.946 49.975ZM21.6568 46.2709L19.9719 47.3484L19.9718 47.3483L21.6568 46.2709ZM19.9444 42.5845L18.0322 43.1704L18.0322 43.1704L19.9444 42.5845ZM19.2165 38.6307L17.221 38.7639L17.221 38.7639L19.2165 38.6307ZM19.5134 34.6377L17.5595 34.2108L17.5595 34.2108L19.5134 34.6377ZM20.8594 30.7917L19.0626 29.9133L19.0626 29.9132L20.8594 30.7917ZM23.2238 27.312L21.7375 25.9738L21.7375 25.9737L23.2238 27.312ZM26.4213 24.5839L25.3439 22.8989L25.3439 22.8989L26.4213 24.5839ZM30.1071 22.8722L29.5211 20.96L29.5212 20.96L30.1071 22.8722ZM34.0609 22.1443L36.0587 22.0513L36.1499 24.0093L34.1941 24.1399L34.0609 22.1443ZM33.9392 19.5328L33.8223 17.5362L35.8429 17.4179L35.9371 19.4397L33.9392 19.5328ZM29.3396 20.3664L28.748 18.4559L28.748 18.4559L29.3396 20.3664ZM25.0324 22.3713L23.9592 20.6836L23.9592 20.6836L25.0324 22.3713ZM21.2803 25.5621L22.7666 26.9004C21.6674 28.1211 20.7876 29.4523 20.1202 30.8967L18.3046 30.0578L16.4891 29.2188C17.3286 27.402 18.4327 25.7357 19.794 24.2238L21.2803 25.5621ZM18.3046 30.0578L20.1202 30.8967C19.4439 32.3603 18.9897 33.8652 18.753 35.4156L16.7759 35.1138L14.7988 34.812C15.0933 32.8824 15.6585 31.0164 16.4891 29.2188L18.3046 30.0578ZM16.7759 35.1138L18.753 35.4156C18.5173 36.9601 18.5085 38.526 18.73 40.1192L16.7491 40.3947L14.7682 40.6701C14.4945 38.7022 14.5034 36.7474 14.7988 34.812L16.7759 35.1138ZM16.7491 40.3947L18.73 40.1192C18.9494 41.697 19.4054 43.2332 20.1054 44.7327L18.2931 45.5787L16.4808 46.4246C15.6167 44.5734 15.044 42.6534 14.7682 40.6701L16.7491 40.3947ZM18.2931 45.5787L20.1065 44.7351C20.6282 45.8564 21.2492 46.8547 21.9649 47.7376L20.4112 48.997L18.8575 50.2564C17.9236 49.1043 17.1317 47.8238 16.4797 46.4223L18.2931 45.5787ZM20.4112 48.997L21.9649 47.7376C22.7202 48.6694 23.5758 49.5678 24.535 50.4315L23.1967 51.9177L21.8585 53.404C20.753 52.4087 19.7517 51.3596 18.8575 50.2564L20.4112 48.997ZM23.1967 51.9177L23.3082 53.9146L19.0825 54.1506L18.971 52.1537L18.8595 50.1568L23.0852 49.9209L23.1967 51.9177ZM18.971 52.1537L20.9683 52.0496L21.1037 54.6459L19.1064 54.7501L17.1091 54.8542L16.9737 52.2579L18.971 52.1537ZM19.1064 54.7501L19.0031 52.7527L29.6321 52.2033L29.7354 54.2006L29.8386 56.198L19.2096 56.7474L19.1064 54.7501ZM29.7354 54.2006L28.3971 55.6869L27.4021 54.791L28.7404 53.3047L30.0787 51.8185L31.0736 52.7143L29.7354 54.2006ZM28.7404 53.3047L27.4212 54.808L23.6268 51.4782L24.946 49.975L26.2652 48.4717L30.0596 51.8015L28.7404 53.3047ZM24.946 49.975L23.6077 51.4613L23.046 50.9555L24.3843 49.4692L25.7225 47.9829L26.2843 48.4887L24.946 49.975ZM24.3843 49.4692L23.046 50.9555C21.8455 49.8745 20.8182 48.6718 19.9719 47.3484L21.6568 46.2709L23.3417 45.1934C23.9869 46.2022 24.7778 47.1322 25.7225 47.9829L24.3843 49.4692ZM21.6568 46.2709L19.9718 47.3483C19.1309 46.0332 18.4822 44.639 18.0322 43.1704L19.9444 42.5845L21.8567 41.9985C22.1977 43.1115 22.6911 44.176 23.3418 45.1935L21.6568 46.2709ZM19.9444 42.5845L18.0322 43.1704C17.5917 41.7328 17.321 40.2629 17.221 38.7639L19.2165 38.6307L21.2121 38.4975C21.2916 39.6888 21.5063 40.8549 21.8567 41.9986L19.9444 42.5845ZM19.2165 38.6307L17.221 38.7639C17.1187 37.231 17.2316 35.7114 17.5595 34.2108L19.5134 34.6377L21.4673 35.0647C21.2198 36.1975 21.1348 37.34 21.2121 38.4975L19.2165 38.6307ZM19.5134 34.6377L17.5595 34.2108C17.8824 32.7333 18.3848 31.2997 19.0626 29.9133L20.8594 30.7917L22.6562 31.6701C22.1148 32.7775 21.72 33.9085 21.4673 35.0647L19.5134 34.6377ZM20.8594 30.7917L19.0626 29.9132C19.7575 28.4921 20.6527 27.1785 21.7375 25.9738L23.2238 27.312L24.7101 28.6503C23.8629 29.5911 23.1807 30.5974 22.6561 31.6702L20.8594 30.7917ZM23.2238 27.312L21.7375 25.9737C22.8178 24.774 24.0196 23.7458 25.3439 22.8989L26.4213 24.5839L27.4988 26.2689C26.4908 26.9135 25.5614 27.7048 24.71 28.6503L23.2238 27.312ZM26.4213 24.5839L25.3439 22.8989C26.6593 22.0578 28.053 21.4099 29.5211 20.96L30.1071 22.8722L30.6931 24.7845C29.5798 25.1256 28.5159 25.6185 27.4988 26.2689L26.4213 24.5839ZM30.1071 22.8722L29.5212 20.96C30.9588 20.5195 32.4287 20.2489 33.9277 20.1488L34.0609 22.1443L34.1941 24.1399C33.0027 24.2195 31.8366 24.4341 30.6931 24.7845L30.1071 22.8722ZM34.0609 22.1443L32.0631 22.2374L31.9414 19.6258L33.9392 19.5328L35.9371 19.4397L36.0587 22.0513L34.0609 22.1443ZM33.9392 19.5328L34.0562 21.5293C32.6499 21.6117 31.2759 21.8605 29.9313 22.2769L29.3396 20.3664L28.748 18.4559C30.4018 17.9438 32.0946 17.6374 33.8223 17.5362L33.9392 19.5328ZM29.3396 20.3664L29.9313 22.2769C28.6075 22.6869 27.3327 23.2788 26.1055 24.0591L25.0324 22.3713L23.9592 20.6836C25.4757 19.7194 27.0732 18.9746 28.748 18.4559L29.3396 20.3664ZM25.0324 22.3713L26.1055 24.059C24.8928 24.8302 23.78 25.7748 22.7665 26.9004L21.2803 25.5621L19.794 24.2238C21.0402 22.8398 22.4286 21.6569 23.9592 20.6836L25.0324 22.3713Z" fill="black" fill-opacity="0.1" mask="url(%23path-1-outside-1_459_1858)"/></g><foreignObject x="20.6143" y="23.541" width="28.5356" height="28.5371"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(1px);clip-path:url(%23bgblur_2_459_1858_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="2"><circle cx="10.2679" cy="10.2679" r="10.2679" transform="matrix(-0.669131 0.743145 0.743145 0.669131 34.1221 23.3086)" fill="white" fill-opacity="0.95"/><circle cx="10.2679" cy="10.2679" r="11.2679" transform="matrix(-0.669131 0.743145 0.743145 0.669131 34.1221 23.3086)" stroke="black" stroke-opacity="0.1" stroke-width="2"/></g></g><defs><clipPath id="bgblur_1_459_1858_clip_path" transform="translate(-12.5698 -15.418)"><path d="M21.2803 25.5621C20.05 26.9284 19.0581 28.4272 18.3046 30.0578C17.5512 31.6884 17.0415 33.3738 16.7759 35.1138C16.5103 36.8538 16.5015 38.6141 16.7491 40.3947C16.9967 42.1752 17.5111 43.9033 18.2931 45.5787C18.8799 46.8401 19.5864 47.9795 20.4112 48.997C21.2359 50.0145 22.1644 50.9883 23.1967 51.9177L18.971 52.1537L19.1064 54.7501L29.7354 54.2006L28.7404 53.3047L24.946 49.975L24.3843 49.4692C23.3116 48.5034 22.4025 47.437 21.6568 46.2709C20.911 45.1046 20.3399 43.8752 19.9444 42.5845C19.549 41.2939 19.3063 39.9759 19.2165 38.6307C19.1267 37.2855 19.2257 35.9545 19.5134 34.6377C19.8012 33.3209 20.2498 32.0386 20.8594 30.7917C21.4691 29.5447 22.2578 28.3848 23.2238 27.312C24.1896 26.2394 25.2552 25.3296 26.4213 24.5839C27.5876 23.8381 28.8164 23.2677 30.1071 22.8722C31.3977 22.4768 32.7157 22.2342 34.0609 22.1443L33.9392 19.5328C32.3723 19.6245 30.8388 19.9022 29.3396 20.3664C27.8404 20.8307 26.4042 21.4991 25.0324 22.3713C23.6607 23.2435 22.4101 24.3073 21.2803 25.5621Z"/></clipPath><clipPath id="bgblur_2_459_1858_clip_path" transform="translate(-20.6143 -23.541)"><circle cx="10.2679" cy="10.2679" r="10.2679" transform="matrix(-0.669131 0.743145 0.743145 0.669131 34.1221 23.3086)"/></clipPath><clipPath id="clip0_459_1858"><rect width="50" height="50" fill="white" transform="matrix(-0.669131 0.743145 0.743145 0.669131 29.1499 0.808594)"/></clipPath></defs></svg>');

}

.button-turn.right {
  right: 10px;
  background-image: url('data:image/svg+xml,<svg width="68" height="72" viewBox="0 0 68 72" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_459_1854)"><foreignObject x="28.8506" y="15.416" width="25.5801" height="43.4336"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(1px);clip-path:url(%23bgblur_1_459_1854_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="2"><mask id="path-1-outside-1_459_1854" maskUnits="userSpaceOnUse" x="12.0093" y="12.3679" width="52.6273" height="53.2934" fill="black"><rect fill="white" x="12.0093" y="12.3679" width="52.6273" height="53.2934"/><path d="M45.7202 25.5601C46.9504 26.9264 47.9424 28.4252 48.6959 30.0558C49.4493 31.6864 49.959 33.3718 50.2246 35.1118C50.4902 36.8518 50.499 38.6121 50.2514 40.3927C50.0038 42.1732 49.4894 43.9014 48.7074 45.5767C48.1205 46.8382 47.4141 47.9775 46.5893 48.9951C45.7645 50.0126 44.8361 50.9863 43.8038 51.9158L48.0295 52.1518L47.8941 54.7481L37.2651 54.1987L38.2601 53.3028L42.0545 49.973L42.6162 49.4673C43.6889 48.5014 44.598 47.4351 45.3437 46.269C46.0895 45.1027 46.6606 43.8733 47.0561 42.5825C47.4515 41.2919 47.6942 39.9739 47.784 38.6287C47.8737 37.2836 47.7748 35.9525 47.4871 34.6358C47.1993 33.319 46.7507 32.0366 46.1411 30.7897C45.5314 29.5428 44.7427 28.3829 43.7767 27.3101C42.8109 26.2374 41.7453 25.3277 40.5792 24.5819C39.4129 23.8362 38.1841 23.2658 36.8934 22.8703C35.6028 22.4748 34.2848 22.2322 32.9396 22.1424L33.0612 19.5308C34.6282 19.6226 36.1616 19.9002 37.6609 20.3645C39.1601 20.8288 40.5963 21.4971 41.9681 22.3694C43.3398 23.2416 44.5904 24.3053 45.7202 25.5601Z"/></mask><path d="M45.7202 25.5601C46.9504 26.9264 47.9424 28.4252 48.6959 30.0558C49.4493 31.6864 49.959 33.3718 50.2246 35.1118C50.4902 36.8518 50.499 38.6121 50.2514 40.3927C50.0038 42.1732 49.4894 43.9014 48.7074 45.5767C48.1205 46.8382 47.4141 47.9775 46.5893 48.9951C45.7645 50.0126 44.8361 50.9863 43.8038 51.9158L48.0295 52.1518L47.8941 54.7481L37.2651 54.1987L38.2601 53.3028L42.0545 49.973L42.6162 49.4673C43.6889 48.5014 44.598 47.4351 45.3437 46.269C46.0895 45.1027 46.6606 43.8733 47.0561 42.5825C47.4515 41.2919 47.6942 39.9739 47.784 38.6287C47.8737 37.2836 47.7748 35.9525 47.4871 34.6358C47.1993 33.319 46.7507 32.0366 46.1411 30.7897C45.5314 29.5428 44.7427 28.3829 43.7767 27.3101C42.8109 26.2374 41.7453 25.3277 40.5792 24.5819C39.4129 23.8362 38.1841 23.2658 36.8934 22.8703C35.6028 22.4748 34.2848 22.2322 32.9396 22.1424L33.0612 19.5308C34.6282 19.6226 36.1616 19.9002 37.6609 20.3645C39.1601 20.8288 40.5963 21.4971 41.9681 22.3694C43.3398 23.2416 44.5904 24.3053 45.7202 25.5601Z" fill="white" fill-opacity="0.95"/><path d="M45.7202 25.5601L47.2065 24.2219L47.2065 24.2219L45.7202 25.5601ZM48.6959 30.0558L50.5114 29.2169L50.5114 29.2169L48.6959 30.0558ZM50.2246 35.1118L52.2017 34.8101L52.2017 34.8101L50.2246 35.1118ZM50.2514 40.3927L52.2323 40.6682L52.2323 40.6682L50.2514 40.3927ZM48.7074 45.5767L46.8951 44.7308L46.894 44.7331L48.7074 45.5767ZM46.5893 48.9951L48.143 50.2544L48.143 50.2544L46.5893 48.9951ZM43.8038 51.9158L42.4655 50.4295L38.8946 53.6448L43.6923 53.9127L43.8038 51.9158ZM48.0295 52.1518L50.0268 52.2559L50.1305 50.266L48.141 50.1549L48.0295 52.1518ZM47.8941 54.7481L47.7909 56.7454L49.7873 56.8486L49.8914 54.8523L47.8941 54.7481ZM37.2651 54.1987L35.9269 52.7124L32.335 55.9465L37.1619 56.196L37.2651 54.1987ZM38.2601 53.3028L36.9409 51.7995L36.9313 51.808L36.9218 51.8165L38.2601 53.3028ZM42.0545 49.973L43.3737 51.4763L43.3833 51.4679L43.3928 51.4593L42.0545 49.973ZM45.3437 46.269L47.0286 47.3465L47.0287 47.3464L45.3437 46.269ZM47.0561 42.5825L48.9683 43.1685L48.9683 43.1684L47.0561 42.5825ZM47.784 38.6287L49.7795 38.7619L49.7795 38.7619L47.784 38.6287ZM47.4871 34.6358L49.441 34.2088L49.441 34.2088L47.4871 34.6358ZM46.1411 30.7897L47.9379 29.9113L47.9378 29.9113L46.1411 30.7897ZM43.7767 27.3101L45.263 25.9718L45.263 25.9718L43.7767 27.3101ZM40.5792 24.5819L41.6566 22.897L41.6566 22.897L40.5792 24.5819ZM36.8934 22.8703L37.4793 20.9581L37.4793 20.958L36.8934 22.8703ZM32.9396 22.1424L30.9418 22.0493L30.8505 24.0074L32.8064 24.1379L32.9396 22.1424ZM33.0612 19.5308L33.1782 17.5342L31.1576 17.4159L31.0634 19.4378L33.0612 19.5308ZM37.6609 20.3645L38.2525 18.454L38.2525 18.454L37.6609 20.3645ZM41.9681 22.3694L43.0413 20.6817L43.0413 20.6817L41.9681 22.3694ZM45.7202 25.5601L44.2339 26.8984C45.3331 28.1192 46.2129 29.4504 46.8803 30.8948L48.6959 30.0558L50.5114 29.2169C49.6719 27.4001 48.5678 25.7337 47.2065 24.2219L45.7202 25.5601ZM48.6959 30.0558L46.8803 30.8948C47.5566 32.3584 48.0108 33.8632 48.2475 35.4136L50.2246 35.1118L52.2017 34.8101C51.9071 32.8804 51.342 31.0144 50.5114 29.2169L48.6959 30.0558ZM50.2246 35.1118L48.2475 35.4136C48.4832 36.9582 48.492 38.524 48.2704 40.1173L50.2514 40.3927L52.2323 40.6682C52.506 38.7003 52.4971 36.7455 52.2017 34.8101L50.2246 35.1118ZM50.2514 40.3927L48.2704 40.1172C48.051 41.695 47.5951 43.2312 46.8951 44.7308L48.7074 45.5767L50.5197 46.4227C51.3838 44.5715 51.9565 42.6515 52.2323 40.6682L50.2514 40.3927ZM48.7074 45.5767L46.894 44.7331C46.3723 45.8545 45.7513 46.8528 45.0356 47.7357L46.5893 48.9951L48.143 50.2544C49.0769 49.1023 49.8688 47.8218 50.5207 46.4204L48.7074 45.5767ZM46.5893 48.9951L45.0356 47.7357C44.2803 48.6675 43.4247 49.5659 42.4655 50.4295L43.8038 51.9158L45.142 53.4021C46.2475 52.4067 47.2488 51.3577 48.143 50.2544L46.5893 48.9951ZM43.8038 51.9158L43.6923 53.9127L47.918 54.1487L48.0295 52.1518L48.141 50.1549L43.9153 49.9189L43.8038 51.9158ZM48.0295 52.1518L46.0322 52.0476L45.8968 54.644L47.8941 54.7481L49.8914 54.8523L50.0268 52.2559L48.0295 52.1518ZM47.8941 54.7481L47.9974 52.7508L37.3684 52.2013L37.2651 54.1987L37.1619 56.196L47.7909 56.7454L47.8941 54.7481ZM37.2651 54.1987L38.6034 55.685L39.5983 54.7891L38.2601 53.3028L36.9218 51.8165L35.9269 52.7124L37.2651 54.1987ZM38.2601 53.3028L39.5793 54.8061L43.3737 51.4763L42.0545 49.973L40.7353 48.4698L36.9409 51.7995L38.2601 53.3028ZM42.0545 49.973L43.3928 51.4593L43.9545 50.9535L42.6162 49.4673L41.2779 47.981L40.7162 48.4867L42.0545 49.973ZM42.6162 49.4673L43.9545 50.9535C45.155 49.8726 46.1823 48.6699 47.0286 47.3465L45.3437 46.269L43.6588 45.1915C43.0136 46.2003 42.2227 47.1303 41.2779 47.981L42.6162 49.4673ZM45.3437 46.269L47.0287 47.3464C47.8696 46.0313 48.5183 44.637 48.9683 43.1685L47.0561 42.5825L45.1438 41.9966C44.8028 43.1095 44.3093 44.174 43.6587 45.1915L45.3437 46.269ZM47.0561 42.5825L48.9683 43.1684C49.4088 41.7309 49.6795 40.261 49.7795 38.7619L47.784 38.6287L45.7884 38.4956C45.7089 39.6869 45.4942 40.853 45.1438 41.9966L47.0561 42.5825ZM47.784 38.6287L49.7795 38.7619C49.8818 37.2291 49.7689 35.7095 49.441 34.2088L47.4871 34.6358L45.5332 35.0627C45.7807 36.1956 45.8657 37.3381 45.7884 38.4956L47.784 38.6287ZM47.4871 34.6358L49.441 34.2088C49.1181 32.7314 48.6157 31.2978 47.9379 29.9113L46.1411 30.7897L44.3443 31.6682C44.8857 32.7755 45.2805 33.9066 45.5332 35.0628L47.4871 34.6358ZM46.1411 30.7897L47.9378 29.9113C47.243 28.4901 46.3478 27.1766 45.263 25.9718L43.7767 27.3101L42.2904 28.6483C43.1375 29.5891 43.8198 30.5954 44.3443 31.6682L46.1411 30.7897ZM43.7767 27.3101L45.263 25.9718C44.1827 24.772 42.9809 23.7438 41.6566 22.897L40.5792 24.5819L39.5017 26.2669C40.5097 26.9115 41.4391 27.7028 42.2905 28.6484L43.7767 27.3101ZM40.5792 24.5819L41.6566 22.897C40.3412 22.0558 38.9474 21.4079 37.4793 20.9581L36.8934 22.8703L36.3074 24.7825C37.4207 25.1237 38.4846 25.6165 39.5017 26.2669L40.5792 24.5819ZM36.8934 22.8703L37.4793 20.958C36.0417 20.5175 34.5718 20.2469 33.0728 20.1468L32.9396 22.1424L32.8064 24.1379C33.9978 24.2175 35.1639 24.4321 36.3074 24.7825L36.8934 22.8703ZM32.9396 22.1424L34.9374 22.2355L35.0591 19.6239L33.0612 19.5308L31.0634 19.4378L30.9418 22.0493L32.9396 22.1424ZM33.0612 19.5308L32.9443 21.5274C34.3505 21.6097 35.7246 21.8586 37.0692 22.275L37.6609 20.3645L38.2525 18.454C36.5987 17.9419 34.9058 17.6354 33.1782 17.5342L33.0612 19.5308ZM37.6609 20.3645L37.0692 22.275C38.393 22.6849 39.6678 23.2768 40.895 24.0571L41.9681 22.3694L43.0413 20.6817C41.5248 19.7174 39.9273 18.9726 38.2525 18.454L37.6609 20.3645ZM41.9681 22.3694L40.895 24.0571C42.1077 24.8282 43.2204 25.7728 44.234 26.8984L45.7202 25.5601L47.2065 24.2219C45.9603 22.8378 44.5719 21.655 43.0413 20.6817L41.9681 22.3694Z" fill="black" fill-opacity="0.1" mask="url(%23path-1-outside-1_459_1854)"/></g><foreignObject x="17.8506" y="23.5391" width="28.5356" height="28.5371"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(1px);clip-path:url(%23bgblur_2_459_1854_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="2"><circle cx="32.1185" cy="37.8077" r="10.2679" transform="rotate(48 32.1185 37.8077)" fill="white" fill-opacity="0.95"/><circle cx="32.1185" cy="37.8077" r="11.2679" transform="rotate(48 32.1185 37.8077)" stroke="black" stroke-opacity="0.1" stroke-width="2"/></g></g><defs><clipPath id="bgblur_1_459_1854_clip_path" transform="translate(-28.8506 -15.416)"><path d="M45.7202 25.5601C46.9504 26.9264 47.9424 28.4252 48.6959 30.0558C49.4493 31.6864 49.959 33.3718 50.2246 35.1118C50.4902 36.8518 50.499 38.6121 50.2514 40.3927C50.0038 42.1732 49.4894 43.9014 48.7074 45.5767C48.1205 46.8382 47.4141 47.9775 46.5893 48.9951C45.7645 50.0126 44.8361 50.9863 43.8038 51.9158L48.0295 52.1518L47.8941 54.7481L37.2651 54.1987L38.2601 53.3028L42.0545 49.973L42.6162 49.4673C43.6889 48.5014 44.598 47.4351 45.3437 46.269C46.0895 45.1027 46.6606 43.8733 47.0561 42.5825C47.4515 41.2919 47.6942 39.9739 47.784 38.6287C47.8737 37.2836 47.7748 35.9525 47.4871 34.6358C47.1993 33.319 46.7507 32.0366 46.1411 30.7897C45.5314 29.5428 44.7427 28.3829 43.7767 27.3101C42.8109 26.2374 41.7453 25.3277 40.5792 24.5819C39.4129 23.8362 38.1841 23.2658 36.8934 22.8703C35.6028 22.4748 34.2848 22.2322 32.9396 22.1424L33.0612 19.5308C34.6282 19.6226 36.1616 19.9002 37.6609 20.3645C39.1601 20.8288 40.5963 21.4971 41.9681 22.3694C43.3398 23.2416 44.5904 24.3053 45.7202 25.5601Z"/></clipPath><clipPath id="bgblur_2_459_1854_clip_path" transform="translate(-17.8506 -23.5391)"><circle cx="32.1185" cy="37.8077" r="10.2679" transform="rotate(48 32.1185 37.8077)"/></clipPath><clipPath id="clip0_459_1854"><rect width="50" height="50" fill="white" transform="translate(37.8506 0.808594) rotate(48)"/></clipPath></defs></svg>');
}

/* END */