/* Stand-alone button pad *****************************************************/

.button-pads {
    /* Shared style */
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;

    /* Style for standalone version (not overlay */
    fill-opacity: 100%;
    stroke-width: 6px;
    stroke: var(--background-color);
    fill: hsl(0,0%,31%);
    flex: 1 1 0;
    padding: 0.4rem;
}

/* Overlay ********************************************************************/

.button-pads.overlay {
    stroke-width: 3px;
    fill: hsl(200, 50%, 60%);
    fill-opacity: 0;
    stroke: hsl(200, 0%, 60%);

    width: 100%;
    height: 100%;
    padding: 0;
}

/* Settings for the buttons on the button pad *********************************/

/*When hovering over a child element of an svg*/
.button-pads path:hover {
    fill-opacity: 30%;
}

.button-pads image {
    pointer-events: none;
}

.button-pads path.inactive:hover+image {
    filter: brightness(50%) sepia(100%) saturate(10000%) hue-rotate(194deg);
}

.button-pads path.active {
    fill-opacity: 60%;
    fill: var(--btn-turquoise);
}

.button-pads path.collision {
    fill: orange;
    fill-opacity: 40%;
}

.button-pads path.limit {
    fill: red;
    fill-opacity: 40%;
}

/* Disable hover actions */
.button-pads.customizing path {
    pointer-events: none;
}

.button-pads.selected {
    opacity: 100%;
    stroke: var(--selected-color);
    opacity: 100%;
    border: 1px solid var(--selected-color);
    stroke-width: 5px;
}