.button-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto 1fr);
    grid-template-areas:
        "header0 header0 header0 header0"
        ". b0 b1 ."
        "header1 header1 header1 header1"
        "b2 b3 b4 b5"
        "header2 header2 header2 header2"
        ". b6 b7 ."
        "header3 header3 header3 header3"
        ". b8 b9 ."
    ;

    padding: 0.4rem;
    position: relative;
    z-index: 1;
    border-radius: var(--radius);
}

.button-grid::after {
    border-radius: var(--radius);
}

.button-grid p {
    font-size: larger;
    text-align: center;
    margin: 1.5rem 0 0.5rem 0;
}

.button-grid p:first-of-type {
    text-align: center;
    margin-top: 0.5rem;
}

.button-grid button {
    width: 90%;
    height: 4rem;
    justify-self: center;
    align-self: center;
    background-color: gray;
    color: white;
}

.button-grid button.active {
    background-color: var(--btn-turquoise);
}

.button-grid button.collision {
    background-color: orange;
}

.button-grid button.limit {
    background-color: #fc9696;
    color: black;
}

.button-grid-bkg-color {
    grid-column: 1 / 7;
    height: 5rem;
    border: 2px solid black;
}