.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
    height: 100%;
}

/* Overlays the button pad on top of the camera view*/
.video-overlay-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.video-overlay-container.realsense,
.video-overlay-container.overhead {
    z-index: 2;
    position: absolute;
    width: calc(100% - 102px);
    height: calc(100% - 102px);
    box-sizing: border-box;
    top: 0;
    left: 0;
    left: 51px;
    top: 51px;
    display: flex;
    align-items: center;
}

/* The style for the plus icon overlay for click-to-pregrasp */
.realsense.material-icons {
    color: rgba(255, 0, 0, 0.6);
    position: absolute;
    transform: translate(-50%, -50%);
}

.video-overlay-container.overhead.predictiveDisplay {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.video-overlay-container::after {
    grid-row: 2/2;
    grid-column: 1/1;
}

.video-area {
    position: relative;
    max-width: 100%;
}

.video-canvas {
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-canvas.constrainedHeight {
    display: inline-block;
    /* width: auto; */
    height: 100%;
    object-fit: cover;
}

/* Don't display selected highlight on video canvas element */
.video-canvas.customizing::after {
    content: none;
}

.video-canvas.customizing {
    filter: brightness(0.6);
}

.video-canvas.customizing.selected {
    filter: none;
}

/* Under video buttons ********************************************************/

.under-video-area {
    flex: 0 0 auto; /* Don’t shrink, auto height */
    align-content: flex-start;
    padding-top: 0.5rem;
    width: 100%;
    object-fit: cover;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.under-video-area button {
    /* height: 30%; */
    margin: 0.2rem 0rem 0.2rem 0rem;
    /* flex: 1 0 auto; */
    align-items: center;
    width: 99%;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
}

.inline-buttons {
    display: flex;
    justify-content: space-around;
}

.autocomplete {
    display: flex;
    width: 150%;
}

.autocomplete button {
    padding: 0 !important;
    width: 0%;
    transform: translate(50%, 0%);
}

@media (max-width: 1200px) {
    .autocomplete {
        height: 2.75rem;
    }
}

/* Realsense pan-tilt controls ************************************************/
.realsense-pan-tilt-grid {
    width: 100%;
    /* max-width: fit-content;
    height: auto;
    grid-row: 2/2;
    grid-column: 1/1;
    --pan-tilt-button-size: 1.5rem;
    display: grid;
    grid-template-columns: var(--pan-tilt-button-size) fit-content var(--pan-tilt-button-size);
    grid-template-rows: var(--pan-tilt-button-size) fit-content var(--pan-tilt-button-size);
    object-fit: cover;
    align-items: stretch; */
}

.realsense-pan-tilt-grid.constrainedHeight {
    height: 100%;
    /* width: auto; */
    /* grid-template-columns: var(--pan-tilt-button-size) min-content var(--pan-tilt-button-size);
    grid-template-rows: var(--pan-tilt-button-size) fit-content var(--pan-tilt-button-size); */
    justify-content: center;
    object-fit: cover;
    z-index: 2;
    position: absolute;
    display: block;
}

.realsense-pan-tilt-grid button {
    padding: 0px;
}

.realsense-pan-tilt-grid .panTiltIcon {
    margin: 0;
    font-size: xxx-large;
    fill: whitesmoke;
    opacity: 40%;
    background-color: black;
    border-radius: 60px;
}

.realsense-pan-tilt-grid .up {
    border-radius: var(--btn-brdr-radius) var(--btn-brdr-radius) 0 0;
    z-index: 2;
    width: 100%;
    position: absolute;
    background: transparent;
    box-shadow: none;
}

.realsense-pan-tilt-grid .down {
    border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius);
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: transparent;
    box-shadow: none;
}

.realsense-pan-tilt-grid .left {
    border-radius: var(--btn-brdr-radius) 0 0 var(--btn-brdr-radius);
    z-index: 2;
    height: 100%;
    position: absolute;
    background: transparent;
    box-shadow: none;
}

.realsense-pan-tilt-grid .right {
    border-radius: 0 var(--btn-brdr-radius) var(--btn-brdr-radius) 0;
    z-index: 2;
    position: absolute;
    right: 0;
    height: 100%;
    background: transparent;
    box-shadow: none;
}

/* Context menu popup *********************************************************/
.video-context-menu {
    list-style-type: none;
    position: absolute;
    background-color: var(--background-color);
    /* border: var(--btn-brdr); */
    margin: 0;
    padding: 0;
    white-space: nowrap;

    --padding: 1rem;

    padding-top: var(--padding);
    grid-row: 2/2;
    z-index: 4;
}

.video-context-menu li {
    padding: var(--padding);
    cursor: pointer;
    background-color: inherit;
}

.video-context-menu li:hover {
    filter: brightness(90%);
}

.video-context-menu::before {
    content: attr(aria-label);
    font-weight: bold;
    padding: var(--padding);
}

.title {
    font-size: x-large;
    align-self: flex-end;
    text-align: center;
    margin: 10px;
}

@media screen and (orientation: portrait) and (max-device-width: 900px) {
    .video-container {
        grid-template-rows: 1fr auto minmax(3rem, 2fr);
    }
}

@media screen and (orientation: landscape) and (max-device-width: 900px) {
    .video-container {
        grid-template-rows: auto;
    }

    .realsense-pan-tilt-grid button .material-icons {
        font-size: larger;
    }

    .title {
        font-size: smaller;
    }
}

.icon-crosshair {
    position: absolute;
    display: inline-block;
    width: 31px;
    height: 31px;
    transform: translateX(-50%) translateY(-50%);
    background-image: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode:hard-light"><circle cx="15.4735" cy="15.4733" r="2.82166" fill="%230098FE"/></g><g style="mix-blend-mode:hard-light"><circle cx="15.3353" cy="15.3346" r="13.7615" fill="%23CB8B9F" fill-opacity="0.2"/></g><path d="M3.5542 18.2246C4.60146 22.6386 8.05112 26.1212 12.4458 27.2178V30.335C6.32769 29.1632 1.50702 24.3428 0.335449 18.2246H3.5542ZM30.3364 18.2246C29.1648 24.3431 24.3436 29.1635 18.2251 30.335V27.251C22.6846 26.193 26.1944 22.6841 27.2524 18.2246H30.3364ZM12.4458 3.58594C8.09601 4.67118 4.67258 8.09549 3.5874 12.4453H0.335449C1.50702 6.32713 6.32769 1.50671 12.4458 0.334961V3.58594ZM18.2251 0.334961C24.3436 1.50646 29.1648 6.32686 30.3364 12.4453H27.2192C26.1227 8.05025 22.6395 4.5999 18.2251 3.55273V0.334961Z" fill="%230098FE"/></svg>');
}
