#customize-button {
    background-color: var(--btn-bg-color);
    display: flex;
    align-items: center;
    justify-content: left;
    width: var(--header-btn-width);
}

#customize-button span {
    margin-right: 2rem;
}