#customize-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    width: var(--btn-header-width-med);
}

#customize-button span {
    margin-right: 2rem;
}
