.home-btn-container {
    float: right;
    font-size: small;
    margin-top: -10px;
}

.fix-home-btn-margin {
    margin-top: -20px;
}

.home-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
