#home-robot-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem; 
}

#home-robot-button span {
    margin-right: 2rem;
}

@media (max-width: 900px) {
    #home-robot-button {
        width: 8rem; 
    }
} 