:root {
    --btn-brdr-radius: 0.4rem;
    --btn-padding: 0.5em 1em;
    --btn-padding-med: 0.2rem 0.25rem;

    --selected-color: hsl(33, 95%, 63%);

    --btn-gray: #f0f0f0;
    --btn-blue: hsl(200deg 83.23% 22.29%);
    --btn-green: rgb(129, 218, 129);
    --btn-red: hsl(0, 70%, 70%);
    --btn-turquoise: hsl(171, 32%, 46%);

    --shadow-color: rgba(112, 112, 112, 0.196);

    --background-color: hsl(0, 0%, 98%);
    --gray-bg: hsl(0, 0%, 88%);

    --shadow: 3px 3px 2px var(--shadow-color);

    --tab-inactive: hsl(200, 20%, 85%);

    --font-white: hsl(0, 0%, 100%);

    --path-blue: hsl(170, 37%, 53%);

    --shadow-bottom: 3px 0px 0px var(--shadow-color);

    touch-action: none;
}

* {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    font: inherit;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    /* zoom: 75%; */
}

html {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

@media screen and (orientation: landscape) and (max-device-width: 900px) {
    html,
    body,
    #root {
        overflow: scroll;
    }
}

/* In customization mode add hidden shadow after each element, to be shown when
the element is selected */
.customizing::after {
    content: "";
    position: absolute;

    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;

    box-shadow: 0 0 1rem 0.5rem var(--selected-color);
    transition: opacity 0.25s ease-in-out;
}

.customizing.selected::after {
    opacity: 1;
}

/* Button colors **************************************************************/

button {
    background-color: var(--btn-gray);
    border: none;
    border-radius: var(--btn-brdr-radius);
    padding: var(--btn-padding);
    box-shadow: var(--shadow);
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
    box-shadow: none;
}

button:disabled {
    background-color: lightgray;
    pointer-events: none;
    box-shadow: none;
}

button .material-icons {
    margin: -0.25rem;
}

.btn-green {
    background-color: var(--btn-green);
}

.btn-red {
    background-color: var(--btn-red);
}

.btn-blue {
    background-color: var(--btn-blue);
}

.btn-turquoise {
    background-color: var(--btn-turquoise);
}

.font-white {
    color: var(--font-white);
}

.btn-yellow {
    background-color: var(--selected-color);
}

@media (max-width: 1300px) {
    button {
        padding: var(--btn-padding-med);
        /* font-size: 90px; */
    }

    .material-icons {
        font-size: larger;
    }

    .under-video-area button {
        /* font-size: 30px; */
        padding: var(--btn-padding-med);
        gap: 10px;
    }
}
