.keyboard-control {
  /* display: grid;
    flex: 2;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: var(--radius);    */

  background-color: #f4f7f8;
  margin: 1em;
  display: grid;
  resize: horizontal;
}

.keyboard-control.selected {
  opacity: 100%;
  stroke: var(--selected-color);
  opacity: 100%;
  border: 1px solid var(--selected-color);
  stroke-width: 5px;
  box-shadow: 0 0 1rem 0.5rem var(--selected-color);
  pointer-events: none;
}

.keyboard-control.customizing path {
  pointer-events: none;
}

.keyboard-row {
  display: flex;
}

.keyboard-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  flex: 1;
}

.item {
  /* margin: 0.5em;
    padding: 0.5em;
    min-width: 0; */
  /* background-color: #1b5385;
    color: white;
    font-family: monospace;
    font-size: 13px; */
  flex: auto;
}

/* WASD AND ARROW KEYS LAYOUT */
.controls-container {
  position: relative;
  display: grid;
  margin: 0.5em;
  grid-template-rows: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  flex: auto;
}

.controls-column {
  position: relative;
  justify-self: center;
  align-items: center;
}

.gripper-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: center;
  flex: auto;
  margin: 0.5em;
}
.gripper-column {
  position: relative;
  justify-self: center;
  align-items: center;
}

.keyboard-button.active {
  fill-opacity: 60%;
  background-color: hsl(200, 50%, 60%);
  color: hsl(0, 0%, 79%);
}

/* BUTTON MODES */
.mode-button {
  stroke-linecap: round;
  stroke-linejoin: round;
  position: relative;
  margin-top: 0.1em;
  margin-inline: 0.1em;
}

.mode-button.active {
  background-color: hsl(200, 50%, 60%);
  color: hsl(0, 0%, 79%);
}

.current-mode {
  /* margin-bottom: 0.5em; */
}

/* TOGGLE BUTTON */
.toggle-key {
  display: block;
  font-size: 1em;
}

.toggle-key.active {
  background-color: var(--btn-turquoise);
  color: white;
}

.toggle-key.off {
  background-color: var(--btn-red);
  color: black;
}

/* TODO: MAKE LAYOUT REACTIVE TO SCREEN SIZE */
@media screen and (orientation: portrait) {
  .keyboard-control {
    width: 100%;
  }
}

button {
  background-color: hsl(0, 0%, 31%);
}
