.map-container,
.mobile-map-container {
    position: relative;
    /* flex: 1 1 0; */
    /* display: grid; */
    justify-items: center;
    padding: 0.4rem;
    max-height: 100%;
    /* grid-template-columns: auto;
    grid-template-rows: 1fr auto minmax(9rem, 1fr); */
    object-fit: cover;
    /* justify-zcontent: center; */
    /* align-items: center;
    flex-direction: column; */
    z-index: 1;
}

.map-title {
    font-size: x-large;
    text-align: center;
    margin: 10px;
}

.map {
    align-self: center;
    width: auto;
    height: 100%;
    z-index: 1;
}

.map.constrainedHeight {
    width: auto;
    height: 100%;
}

.mapCanvas {
    max-width: 100%;
    max-height: 100%;
}

.dropdown em {
    color: #6a6a6a;
    margin-right: 1rem;
}

.mobile {
    padding: var(--btn-padding);
    /* font-size: 30px; */
    flex: auto;
}

.mobile-map-save-btn {
    width: 54%;
    border-radius: 13px;
    border: 5px solid whitesmoke;
    padding: 10px;
    margin: 0.5rem;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.map-save-btn {
    width: 100%;
    border-radius: 13px;
    padding: 8px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    text-align: center;
}

.mobile-map-play-btn {
    width: 32%;
    border-radius: 13px;
    border: 5px solid whitesmoke;
    padding: 10px;
    margin: 0.5rem;
    text-align: center;
    background: #06c7e1;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.map-play-btn {
    width: 100%;
    border-radius: 13px;
    padding: 8px;
    text-align: center;
    background: var(--selected-color);
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.mobile-map-cancel-btn {
    width: 32%;
    border-radius: 13px;
    border: 5px solid whitesmoke;
    padding: 10px;
    margin: 0.5rem;
    text-align: center;
    background: #cd0b0b;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.map-cancel-btn {
    width: 100%;
    border-radius: 13px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    justify-content: center;
    margin-bottom: 0.5rem;
    background: #cd0b0b;
    display: flex;
    color: white;
}

.map-fn-btns {
    display: grid;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.map-fn-btns-mobile {
    display: flex;
    /* font-size: 45px; */
}
