.map-container, .mobile-map-container {
    position: relative;
    /* flex: 1 1 0; */
    display: grid;
    justify-items: center;
    padding: 0.4rem;
    max-height: 100%;
    grid-template-columns: auto;
    /* grid-template-rows: 1fr auto minmax(9rem, 1fr); */
    object-fit: cover;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
    z-index: 1;
}

.map-container {
    flex: 1 1 0;
}

.map {
    align-self: center;
    width: auto;
    height: 100%;
    z-index: 1;
}

.map.constrainedHeight {
    width: auto;
    height: 100%;
}

.mapCanvas {
    max-width: 100%;
    max-height: 100%;
}

.dropdown em {
    color: #6a6a6a;
    margin-right: 1rem;
}

.mobile {
    padding: var(--btn-padding);
    font-size: 30px;
    flex: auto;
}

.mobile-map-save-btn {
    width: 54%;
    border-radius: 13px;
    border: 5px solid whitesmoke;
    padding: 20px;
    margin: 1rem;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-map-play-btn {
    width: 32%;
    border-radius: 13px;
    border: 5px solid whitesmoke;
    padding: 25px;
    margin: 1rem;
    text-align: center;
    background: #06c7e1;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-map-cancel-btn {
    width: 32%;
    border-radius: 13px;
    border: 5px solid whitesmoke;
    padding: 25px;
    margin: 1rem;
    text-align: center;
    background: #cd0b0b;
    vertical-align: middle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.check-toggle-button {
    border-radius: 13px;
    border: 5px solid whitesmoke;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
}

.map-fn-btns {
    display: flex;
    font-size: 45px;
}