.map-container {
    position: relative;
    flex: 1 1 0;
    /* display: flex; */
    justify-items: center;
    padding: 0.4rem;
    /* height: 100%; */
    /* grid-template-columns: auto; */
    /* grid-template-rows: 1fr auto minmax(9rem, 1fr); */
    object-fit: cover;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
}

#map {
    align-self: center;
    width: 100%;
    height: auto;
    z-index: 1;
}

.mapCanvas {
    width: 100%;
}