#movement-recorder-container {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.play-btn {
    background-color: var(--selected-color);
    display: flex;
}

.save-btn {
    background-color: var(--btn-turquoise);
    display: flex;
}

.delete-btn { 
    background-color: var(--btn-red);
    display: flex;
}

@media(max-width:1300px) {
    #movement-recorder-container { 
        font-size: smaller;
    }
}