#movement-recorder-container {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

/* The below buttons' CSS likely gets overridden by the TextToSpeech CSS
 * for the same class names. It is not an issue now because they use the
 * same styles, but may be an issue in the future if we change styles for
 * one of the components.
 */
.play-btn {
  background-color: var(--selected-color);
  display: flex;
}

.save-btn {
  background-color: var(--btn-turquoise);
  display: flex;
}

.delete-btn {
  background-color: #cd0b0b;
  color: white;
  display: flex;
}

@media (max-width: 1300px) {
  #movement-recorder-container {
    font-size: smaller;
  }
}

.mobile-movement-save-btn {
  border-radius: 13px;
  border: 5px solid whitesmoke;
  font-size: 25px;
  padding: 10px;
  margin: 1rem;
  text-align: center;
  background: #06c7e1;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.mobile-movement-play-btn {
  /* width: 97%; */
  border-radius: 13px;
  border: 5px solid whitesmoke;
  font-size: 20px;
  padding: 10px;
  margin: 0.5rem;
  text-align: center;
  background: #06c7e1;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
