#operator {
    height: 100%;
    display: flex;
    flex-flow: column;

    --screen-padding: 0.5rem;
}

#operator-header {
    background-color: var(--gray-bg);
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    padding: var(--screen-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;

    --header-btn-width: 10rem;
}

/* Make all the components in the header fill the avaliable height */
#operator-header > *,
#operator-header button {
    height: 100%;
}

#operator-voice {
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    height: 4rem;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    align-self: center;
    border-radius: 200px;
    margin-top: 10px;
}

#operator-body {
    display: flex;
    flex-flow: row;
    flex: 1 1 0;
}