#operator-body {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#operator-header {
    background-color: hsl(200, 10%, 86%);
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}