#operator {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;

    --screen-padding: 1rem;
}

#operator-header {
    background-color: var(--gray-bg);
    width: 100%;
    box-sizing: border-box;
    padding: var(--screen-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1/3;
    --header-btn-width: 11rem;
    --header-btn-width-med: 7rem;
}

.operator-collision-alerts {
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
}

.operator-collision-alerts .operator-alert {
    animation: fade-out 1s;
}

.operator-collision-alerts .operator-alert.fadeOut {
    display: none;
    animation: fade-out 2s;
    opacity: 0;
}

.operator-collision-alerts .operator-alert.fadeIn {
    display: block;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

/* Make all the components in the header fill the avaliable height */
#operator-header>*,
#operator-header button {
    height: 100%;
}

#operator-header .dropdown {
    width: var(--header-btn-width);
}

.operator-voice,
.operator-pose-library,
.operator-pose-recorder,
.operator-aruco-markers {
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    height: 6rem;
    width: 40rem;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    /* justify-self: center; */
    align-self: center;
    border-radius: 200px;
    /* margin-top: 10px; */
    /* grid-row: 2/2;
    grid-column: 1/1; */
    transition: all 0.2s ease-out;
    font-size: large;
}

.operator-pose-library.hideLabels,
.operator-pose-recorder.hideLabels {
    width: 32rem;
}

.operator-aruco-markers.hideLabels {
    width: 43rem;
}

.operator-aruco-markers {
    width: 66rem;
}

.operator-voice[hidden],
.operator-pose-library[hidden],
.operator-pose-recorder[hidden],
.operator-aruco-markers[hidden] {
    display: none;
}

#operator-global-controls {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
}

#operator-body {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex: 1 1 0;
    grid-column: 1/1;
    grid-row: 3;
}

/** https://stackoverflow.com/a/40989121 **/
.loader {
    position: absolute;
    top: calc(50% - 5em);
    left: calc(50% - 5em);
    width: 10em;
    height: 10em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load 1s infinite linear;
}

.loading-text {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 2em);
    font-size: large;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width:900px) {
    #operator-header .dropdown {
        width: var(--header-btn-width-med);
    }

    #operator-header>*,
    #operator-header button {
        height: 3rem;
    }

    .operator-voice,
    .operator-pose-library,
    .operator-pose-recorder,
    .operator-aruco-markers {
        width: 30rem;
        height: 5rem;
    }
}