.predictive-display {
    width: 100%;
    height: 100%;
    stroke: gray;
    cursor: crosshair;
    fill:none;
}

.predictive-display.customizing {
    cursor: default;
}

.predictive-display path {
    stroke-width: 4;
    stroke: var(--path-blue);
    /* stroke-linecap: round; */
}

.predictive-display:active path{
    stroke: red;
}

.predictive-display {
    width: 100%;
    height: 100%;
    stroke: gray;
    cursor: crosshair;
    fill:none;
}