.run-stop-button {
    background: red;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
}

.enabled {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
}

.runStopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}