.run-stop-button {
    max-width: 110px;
    width: 100%;
}

.enabled {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
}

.runStopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}