#sidebar {
    width: 20rem;
    grid-row: 2/4;
    grid-column: 2;
    height: 100%;
    background-color: var(--gray-bg);
    display: grid;
    grid-template-rows: 5rem auto 7rem;
    transition: width 0.5s ease-out;
    /* Darken the gray background color from index.css */
    --header-bg: color-mix(in srgb, var(--gray-bg) 90%, black);
    white-space: nowrap;
}

#sidebar[hidden] {
    width: 0;
}

#sidebar-header {
    background-color: var(--header-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#sidebar-body {
    padding: 1rem;
    box-shadow: inset 0 0 3px 0px var(--shadow-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer *********************************************************************/

#sidebar-footer {
    background-color: var(--header-bg);
}

#delete-button {
    font-size: 3rem;
    padding: 1rem;
    /* Center it */
    display: block;
    width: 90%;
    margin: 0.8rem auto;
}

#delete-button.active {
    background-color: var(--btn-lightred);
    cursor: pointer;
}

#delete-button.active:hover {
    background-color: var(--btn-red);
}

#delete-button:disabled {
    background-color: lightgray;
}

/* Options ********************************************************************/

.options-element {
    display: inline-block;
}

.toggle-button {
    background-color: var(--btn-lightred);
    margin-right: 1rem;
    width: 7rem;
    height: 5rem;
    border-radius: var(--btn-brdr-radius);
}

.toggle-button.on {
    background-color: var(--btn-lightgreen);
}

/* Component Provider *********************************************************/

.provider-tab {
    margin-bottom: 0.4rem;
    border-radius: var(--btn-brdr-radius);
    box-shadow: var(--shadow);
}

.provider-tab button {
    width: 100%;
    text-align: left;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    height: 3rem;
    box-shadow: none;
}

.provider-tab .active {
    background-color: var(--selected-color);
}

.provider-tab button span {
    width: 2rem;
    transition: transform 0.2s linear;
}

.provider-tab button.expanded {
    filter: brightness(95%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.provider-tab button.expanded span {
    transform: scaleY(-1);
}

.provider-tab button.id-button {
    padding-left: 3rem;
}

.id-button {
    transition: height 0.2s ease-out;
    border-radius: 0;
}

.id-button:last-of-type {
    border-bottom-left-radius: var(--btn-brdr-radius);
    border-bottom-right-radius: var(--btn-brdr-radius);
}