.simple-video-container {
    position: relative;
    /* flex: 1 1 0; */
    /* display: grid; */
    justify-items: center;
    /* padding: 0.4rem; */
    /* height: 100%; */
    /* grid-template-columns: auto; */
    /* grid-template-rows: 1fr auto minmax(9rem, 1fr); */
    object-fit: cover;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
    text-align: -webkit-center;
}

.simple-video-area {
    position: relative;
    grid-row: 2/2;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: inline-block;
    text-align: center;
}

.simple-video-canvas {
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.simple-video-canvas.constrainedHeight {
    display: inline-block;
    /* width: auto;
    height: 100%; */
    object-fit: cover;
}

.simple-realsense {
    /* margin-top: -75%; */
}

/* @media screen and (max-height: 800px) {
    .simple-realsense {
        width: 75%;
    }
} */
.simple-overlay {
    font-size: 3rem;
    position: absolute;
    z-index: 4;
    /* margin-top: 75%; */
    background-color: transparent;
    touch-action: none;
    box-shadow: none;
}

.simple-overlay.btn {
    border-radius: 0px;
    background-color: hsla(0deg 0% 100% / 0);
    filter: unset !important;
    border: 2px solid transparent !important;
}

.simple-overlay.btn:hover,
.simple-overlay.btn:active {
    background-color: hsla(0deg 0% 100% / 0.075);
}

.simple-overlay.btn.btn-left {
    width: 78px;
    height: 100%;
}

.simple-overlay.btn.btn-right {
    right: 0px;
    width: 78px;
    height: 100%;
}

.simple-overlay.btn.btn-up {
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
}

.simple-overlay.btn.btn-down {
    top: -8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
}

.simple-overlay.btn .icon, .switch-camera button .icon {
    min-width: 70px;
    min-height: 50px;
    padding: 4px 0;
    font-size: 3rem !important;
    color: #ffffff;
    background-color: hsl(0deg 0% 0% / 10%);
    border: 1px solid hsl(0deg 0% 100% / 10%);
    box-shadow: 0px 0px 10px 0px hsl(0deg 0% 0% / 35%);
    border-radius: 70px;
    backdrop-filter: blur(3px);

}

.simple-overlay.btn:active .icon, 
.switch-camera button:active .icon {
    color: #ffffff;
    background-color: hsl(201deg 69% 54% / 80%);
}

/* Context menu popup *********************************************************/
.video-context-menu {
    list-style-type: none;
    position: absolute;
    background-color: var(--background-color);
    /* border: var(--btn-brdr); */
    margin: 0;
    padding: 0;
    white-space: nowrap;

    --padding: 1rem;

    padding-top: var(--padding);
    grid-row: 2/2;
}

.video-context-menu li {
    padding: var(--padding);
    cursor: pointer;
    background-color: inherit;
}

.video-context-menu li:hover {
    filter: brightness(90%);
}

.video-context-menu::before {
    content: attr(aria-label);
    font-weight: bold;
    padding: var(--padding);
}

.title {
    font-size: x-large;
    align-self: flex-end;
    text-align: center;
}

@media screen and (orientation: landscape) and (max-device-width: 900px) {
    .realsense-pan-tilt-grid button .material-icons {
        font-size: larger;
    }

    .title {
        font-size: smaller;
    }
}