.simple-video-container {
    position: relative;
    justify-items: center;
    object-fit: cover;
    justify-content: center;
    text-align: -webkit-center;
    height: 100%;
    padding: 10px 0px;
    background-color: #000000;
}

.simple-video-area {
    position: relative;
    grid-row: 2/2;
    width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    text-align: center;
}

.simple-video-canvas {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.simple-video-canvas.constrainedHeight {
    display: inline-block;
    /* width: auto;
    height: 100%; */
    object-fit: cover;
}

.simple-realsense {
    position: relative;
    height: 100%;
}

.icon {
    border-radius: 60px;
    background-color: aliceblue;
    font-size: 100px;
    opacity: 0.5;
    color: black;
}

.simple-overlay {
    font-size: 50px;
    position: absolute;
    z-index: 4;
    /* margin-top: 75%; */
    background-color: transparent;
    touch-action: none;
    box-shadow: none;
}

.btn-left {
    width: 20%;
    height: 100%;
}

.btn-right {
    width: 20%;
    height: 100%;
    margin-left: 80%;
}

.btn-up {
    width: 100%;
}

.btn-down {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Context menu popup *********************************************************/
.video-context-menu {
    list-style-type: none;
    position: absolute;
    background-color: var(--background-color);
    /* border: var(--btn-brdr); */
    margin: 0;
    padding: 0;
    white-space: nowrap;

    --padding: 1rem;

    padding-top: var(--padding);
    grid-row: 2/2;
}

.video-context-menu li {
    padding: var(--padding);
    cursor: pointer;
    background-color: inherit;
}

.video-context-menu li:hover {
    filter: brightness(90%);
}

.video-context-menu::before {
    content: attr(aria-label);
    font-weight: bold;
    padding: var(--padding);
}

.title {
    font-size: x-large;
    align-self: flex-end;
    text-align: center;
}

@media screen and (orientation: landscape) and (max-device-width: 900px) {
    .realsense-pan-tilt-grid button .material-icons {
        font-size: larger;
    }

    .title {
        font-size: smaller;
    }
}


/**********************************
 * CSS below targets "_XP" classes 
 **********************************/

/* START cat ears */
.cat-ear_XP {
    z-index: 1;
    position: absolute;
    left: 0;
    width: calc(100% + 0.5px);
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cat-ear_XP.cat-ear-top_XP {
    top: 0;
    background-image: url('data:image/svg+xml,<svg width="393" height="17" viewBox="0 0 393 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 0C6.71573 0 0 6.71573 0 15V0H15ZM393 15C393 6.71573 386.284 3.09244e-06 378 0H393V15Z" fill="black"/></svg>');
}

.cat-ear_XP.cat-ear-bottom_XP {
    bottom: 0;
    background-image: url('data:image/svg+xml,<svg width="393" height="17" viewBox="0 0 393 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 15C6.71573 15 0 8.28427 0 0V15H15ZM393 0C393 8.28427 386.284 15 378 15H393V0Z" fill="black"/></svg>');
}

/* END cat ears */