.simple-video-container {
    position: relative;
    /* flex: 1 1 0; */
    /* display: grid; */
    justify-items: center;
    /* padding: 0.4rem; */
    /* height: 100%; */
    /* grid-template-columns: auto; */
    /* grid-template-rows: 1fr auto minmax(9rem, 1fr); */
    object-fit: cover;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
    text-align: -webkit-center
}

.simple-video-area {
    position: relative;
    grid-row: 2/2;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    display: inline-block;
    text-align: center;
}

.simple-video-canvas {
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.simple-video-canvas.constrainedHeight {
    display: inline-block;
    /* width: auto;
    height: 100%; */
    object-fit: cover;
}

.simple-realsense {
    margin-top: -75%;
}

/* @media screen and (max-height: 800px) {
    .simple-realsense {
        width: 75%;
    }
} */
.icon {
    border-radius: 60px;
    background-color: aliceblue;
    font-size: 100px;
    opacity: 0.5;
    color: black;
}

.overlay {
    font-size: 100px;
    position: absolute;
    z-index: 1;
    margin-top: 75%;
    background-color: transparent;
    touch-action: none;
    box-shadow: none;
}

.btn-left {
    width: 15%;
    height: 60%;
}

.btn-right {
    margin-left: 85%;
    width: 15%;
    height: 60%;
}

.btn-up {
    width: 100%;
    height: 10%;
}

.btn-down {
    margin-top: 160%;
    width: 100%;
    height: 10%;
}

/* Context menu popup *********************************************************/
.video-context-menu {
    list-style-type: none;
    position: absolute;
    background-color: var(--background-color);
    /* border: var(--btn-brdr); */
    margin: 0;
    padding: 0;
    white-space: nowrap;

    --padding: 1rem;

    padding-top: var(--padding);
    grid-row: 2/2;
}


.video-context-menu li {
    padding: var(--padding);
    cursor: pointer;
    background-color: inherit;
}

.video-context-menu li:hover {
    filter: brightness(90%);
}

.video-context-menu::before {
    content: attr(aria-label);
    font-weight: bold;
    padding: var(--padding);
}

.title {
    font-size: x-large;
    align-self: flex-end;
    text-align: center;
}

@media screen and (orientation:landscape) and (max-device-width: 900px) {
    .realsense-pan-tilt-grid button .material-icons {
        font-size: larger;
    }
    
    .title {
        font-size: smaller;
    }
}