#velocity-control-container {
    display: flex;
    gap: 0.5px;
}

#velocity-control-container button:first-of-type {
    border-radius: var(--btn-brdr-radius) 0 0 var(--btn-brdr-radius);
}

#velocity-control-container button:last-of-type {
    border-radius: 0 var(--btn-brdr-radius) var(--btn-brdr-radius) 0;
}

#velocity-control-container button {
    border-radius: 0;
    /* Make buttons wider than default */
    width: 7rem;
}

#velocity-control-container button:hover {
    box-shadow: var(--shadow);
}

.velocity-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
}

@media (max-width: 1000px) {
    #velocity-control-container button {
        width: auto;
    }
}
