.tabs-component {
    /* border: 1px dotted red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin: 0 0.5rem;
}

.tabs-content {
    /* background-color: green; */
    /* border: 0.5rem solid hsl(200, 90%, 70%); */
    flex: 1 1 0;
    padding: 10px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    /* border-top-right-radius: 1em; */
    /* border-top-left-radius: .2em; */
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.nav-tabs { 
    border-width: 2px !important;
    border-color: #ddd !important;
}

.nav-tabs .nav-link.active {
    margin-bottom: -2px !important;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
}

.tabs-header {
    display: inline-block;
}

.tab-button {
    border: none;
    background-color: hsl(200, 20%, 80%);
    font-size: 1.5rem;
    border-top-right-radius: .2em;
    border-top-left-radius: .2em;
}

.tab-button:hover {
    background-color: hsl(200, 60%, 80%);
}

.tab-button.active {
    background-color: hsl(200, 90%, 70%);
}