#velocity-control-wrapper {
    /* clear: both; */
    /* display: inline-block; */
    display: flex;
}

.velocity-radio-button {
    position: absolute;
    float:left;
    opacity: 0;
}

.velocity-label {
    float: left;
    padding: var(--btn-padding);
    cursor: pointer;
    border: var(--btn-brdr);
    margin-right: -1px;
    background-color: var(--btn-bg-color)
}

.velocity-label:hover {
    background-color: var(--btn-bg-color-hover);
}

.velocity-label:first-of-type {
    border-radius: var(--btn-brdr-radius) 0 0 var(--btn-brdr-radius);
}

.velocity-label:last-of-type {
    border-radius: 0 var(--btn-brdr-radius) var(--btn-brdr-radius) 0;
}

.velocity-radio-button:checked + label{
    background-color: var(--btn-bg-color-click)
}
