.video-container {
    position: relative;
    flex: 1 1 0;
    display: grid;
    justify-items: center;
    padding: 0.4rem;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto minmax(9rem, 1fr);
    object-fit: cover;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
}

/* Overlays the button pad on top of the video stream*/
.video-overlay-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.video-overlay-container::after {
    grid-row: 2/2;
    grid-column: 1/1;
}

.video-area {
    position: relative;
    grid-row: 2/2;
    width: 100%;
}

.video-canvas {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-canvas.constrainedHeight {
    width: auto;
    height: 100%;
    object-fit: cover;
}

/* Don't display selected highlight on video canvas element */
.video-canvas.customizing::after {
    content: none;
}

.video-canvas.customizing {
    filter: brightness(0.6);
}

.video-canvas.customizing.selected {
    filter: none;
}

/* Under video buttons ********************************************************/

.under-video-area {
    grid-row: 3;
    grid-column: 1;
    /* background: blue; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 0.5rem;
    width: 100%;
}

.under-video-area button {
    /* height: 30%; */
    margin: 0.2rem;
    flex: 1 0 auto;
}

/* Realsense pan-tilt controls ************************************************/
.realsense-pan-tilt-grid {
    width: 100%;
    max-width: fit-content;
    height: auto;
    grid-row: 2/2;
    grid-column: 1/1;
    --pan-tilt-button-size: 2rem;
    display: grid;
    grid-template-columns: var(--pan-tilt-button-size) fit-content var(--pan-tilt-button-size);
    grid-template-rows: var(--pan-tilt-button-size) fit-content var(--pan-tilt-button-size);
}

.realsense-pan-tilt-grid.constrainedHeight {
    height: 100%;
    width: auto;
    /* grid-template-columns: var(--pan-tilt-button-size) min-content var(--pan-tilt-button-size);
    grid-template-rows: var(--pan-tilt-button-size) fit-content var(--pan-tilt-button-size); */
    justify-content: center;
}

.realsense-pan-tilt-grid button {
    padding: 0;
}

.realsense-pan-tilt-grid button .material-icons {
    margin: 0;
}

.realsense-pan-tilt-grid .up {
    border-radius: var(--btn-brdr-radius) var(--btn-brdr-radius) 0 0;
}

.realsense-pan-tilt-grid .down {
    border-radius: 0 0 var(--btn-brdr-radius) var(--btn-brdr-radius);
}

.realsense-pan-tilt-grid .left {
    border-radius: var(--btn-brdr-radius) 0 0 var(--btn-brdr-radius);
}

.realsense-pan-tilt-grid .right {
    border-radius: 0 var(--btn-brdr-radius) var(--btn-brdr-radius) 0;

}



/* Context menu popup *********************************************************/
.video-context-menu {
    list-style-type: none;
    position: absolute;
    background-color: var(--background-color);
    /* border: var(--btn-brdr); */
    margin: 0;
    padding: 0;
    white-space: nowrap;

    --padding: 1rem;

    padding-top: var(--padding);
    grid-row: 2/2;
}


.video-context-menu li {
    padding: var(--padding);
    cursor: pointer;
    background-color: inherit;
}

.video-context-menu li:hover {
    filter: brightness(90%);
}

.video-context-menu::before {
    content: attr(aria-label);
    font-weight: bold;
    padding: var(--padding);
}