.virtual-joystick {
  flex: 1;
  border-radius: var(--btn-brdr-radius);
  /* border: 2px solid var(--btn-blue); */
  margin: 0.4rem;
  position: relative;
  z-index: 1;
  max-height: 100%;

  display: grid;
  justify-items: center;
}

.virtual-joystick svg {
  max-height: 100%;
  max-width: fit-content;
}

.virtual-joystick:not(.customizing) {
  cursor: crosshair;
}

.virtual-joystick::after {
  border-radius: var(--btn-brdr-radius);
}

.virtual-joystick path {
  fill: none;
  stroke-width: 1;
  stroke: lightgray;
}

.virtual-joystick .joystick {
  fill: darkgray;
}

.virtual-joystick .outer-circle {
  /* fill: lightgray; */
  fill: #312e2e;
}

.virtual-joystick.active .joystick {
  fill: var(--btn-turquoise);
}
