.voiceControlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.microphoneButton {
    border-radius: 50%;
    aspect-ratio: 1;
}

#voice-command-container {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#record-icon {
    color: red;
}