#microphone-button {
    padding: var(--btn-padding);
    background-color: var(--btn-bg-color);
    display: flex;
    align-items: center;
    justify-content: left;
}

#voice-command-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

#record-icon {
    color: red;
}