body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  margin: 0;
  height: 100%;
}

.imageViewer {
  position: relative;
}

#video-stream-container {
  margin: 1%;
  width: auto;
  height: 95%;
  display: flex;
  justify-content: space-between;
  clear: both;
}
