body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 5%;
  width: 90%;
  height: 100%;
}

.imageViewer {
  position: relative;
}

.action-overlay {
  position: absolute;
  opacity: 0.25;
  overflow: visible;
}

.action-overlay:hover {
  opacity: 0.5;
}