<launch>
  <node name="navigation_camera" pkg="usb_cam" type="usb_cam_node" output="screen" >

    <param name="video_device" value="/dev/hello-navigation-camera" />
    <param name="image_width" value="1024" />
    <param name="image_height" value="768" />

    <param name="framerate" value="15" />
    <param name="pixel_format" value="yuyv" />
    <!--
    <param name="framerate" value="30" />
    <param name="pixel_format" value="mjpeg" />
    -->

    <param name="brightness" value="-40" />
    <param name="contrast" value="40" />
    <param name="hue" value="0" />
    <param name="saturation" value="60" />
    <param name="sharpness" value="100" />
    <param name="autoexposure" value="true" />
    <param name="exposure" value="150" />
    <param name="auto_white_balance" value="false" />
    <param name="white_balance" value="4250" />
    <param name="gain" value="50" />
    <!-- hue of 0 would be good if it could be set from her -->
    <!-- <param name="brightness" value="31" />
    <param name="contrast" value="43" />
    <param name="saturation" value="85" />
    <param name="hue" value="0" />
    <param name="gamma" value="98" />
    <param name="sharpness" value="6" />
    <param name="autoexposure" value="true" />
    <param name="exposure" value="150" />
    <param name="auto_white_balance" value="true" />
    <param name="white_balance" value="4600" />
    <param name="gain" value="100" /> -->

    <param name="camera_frame_id" value="navigation_camera" />
    <param name="camera_name" value="navigation_camera" />
    <param name="io_method" value="mmap"/>
    <remap from="/usb_cam/image_raw" to="/navigation_camera/image_raw"/>
  </node>

  <!--
  <node name="navigation_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/navigation_camera/image_raw"/>
    <param name="autosize" value="false" />
    </node>
  -->

</launch>