<launch>
  
  <!-- REALSENSE D435i -->
  <include file="$(find stretch_core)/launch/d435i_low_resolution.launch"></include>
  <!-- <include file="$(find stretch_web_interface_react)/launch/d435i.launch"></include> -->
  <!-- -->

  <!-- Start a nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth/color/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.005
    </rosparam>
  </node>

  <!-- GRIPPER CAMERA -->
  <include file="$(find stretch_web_interface_react)/launch/gripper_camera.launch"></include>
  <!-- -->

  <!-- NAVIGATION CAMERA -->
  <include file="$(find stretch_web_interface_react)/launch/navigation_camera.launch"></include>
  <!-- -->
  
  <!-- STRETCH DRIVER -->
  <param name="/stretch_driver/broadcast_odom_tf" type="bool" value="true"/>
  <include file="$(find stretch_core)/launch/stretch_driver.launch"></include>
  <!-- -->

  <!-- ROSBRIDGE -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" default="9090"/>
    <arg name="address" default="localhost" />
    <arg name="ssl" value="true" />
    <arg name="certfile" value="$(find stretch_web_interface_react)/certificates/slinky.hcrlab.cs.washington.edu+6.pem" />
    <arg name="keyfile" value="$(find stretch_web_interface_react)/certificates/slinky.hcrlab.cs.washington.edu+6-key.pem" />
    <arg name="authenticate" default="false" />
  </include>

  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false" output="screen"/>

  <arg name="params" value="$(find stretch_web_interface_react)/nodes/configure_video_streams_params.yaml"/>
  <node name="configure_video_streams" pkg="stretch_web_interface_react" type="configure_video_streams" args="$(arg params)" output="screen"/>
  <!-- -->
  
</launch>