<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
      <!-- <arg name="ssl" value="true" />
      <arg name="certfile" value="$(find stretch_web_interface)/certificates/forky.hcrlab.cs.washington.edu+6.pem" />
      <arg name="keyfile" value="$(find stretch_web_interface)/certificates/forky.hcrlab.cs.washington.edu+6-key.pem" /> -->
  </include>
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false" output="screen"/>
</launch>