<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
      <arg name="port" value="9090" />
      <arg name="ssl" value="true" />
      <arg name="certfile" value="$(find stretch_web_interface_react)/certificates/slinky.hcrlab.cs.washington.edu+6.pem" />
      <arg name="keyfile" value="$(find stretch_web_interface_react)/certificates/slinky.hcrlab.cs.washington.edu+6-key.pem" />
  </include>
  <!-- <node name="web_video_server" pkg="web_video_server" type="web_video_server">
    <param name="port" value="8080" />
  </node> -->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false" output="screen"></node>
  <arg name="params" value="$(find stretch_web_interface_react)/nodes/configure_video_streams_params.yaml"/>
  <node name="configure_video_streams" pkg="stretch_web_interface_react" type="configure_video_streams" args="$(arg params)" output="screen"/>
</launch>