<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
      <arg name="port" value="9090" />
      <arg name="ssl" value="true" />
      <arg name="certfile" value="$(find stretch_web_interface_react)/certificates/$(arg certfile)" />
      <arg name="keyfile" value="$(find stretch_web_interface_react)/certificates/$(arg keyfile)" />
  </include>

  <!-- Start a nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
    <remap from="~input" to="/camera/depth/color/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.005
    </rosparam>
  </node>

  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" respawn="false" output="screen"></node>
  <arg name="params" value="$(find stretch_web_interface_react)/nodes/configure_video_streams_params.yaml"/>
  <node name="configure_video_streams" pkg="stretch_web_interface_react" type="configure_video_streams" args="$(arg params)" output="screen"/>
</launch>